// default style
body, table, div, p {
    font-family: $font1;
    font-weight: 400;
    padding:0;
    margin:0;
}

p {
    margin-bottom: 15px;
}

// wrapper
.wrapper-fluid {
    width: 100%;
    min-width: $screen-xs-min;
}

.wrapper-fluid--relative {
    position: relative;
}

.wrapper {
    width: 100%;
    min-width: $screen-xs-min;

    @media (min-width: $screen-xs-min) { // 320px
        max-width: $screen-xs-max;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media (min-width: $screen-sm-min) { // 768px
        max-width: $screen-sm-max;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (min-width: $screen-md-min) { // 992px
        max-width: $screen-md-max;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (min-width: $screen-lg-min) { // 1200px
        max-width: $screen-lg-max;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (min-width: $screen-xlg-min) { // 1450px
        max-width: $screen-lg-max;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.no-border {
    border: 0;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.rss-color {
    color: $rss-color;
}

.hide-from-xs {
    display: none;

    @media (min-width: $screen-sm-min) {
        display: block;
    }
}

.hide-from-sm {
    display: none;

    @media (min-width: $screen-md-min) {
        display: block;
    }
}

.hide-from-md {
    display: none;

    @media (min-width: $screen-lg-min) {
        display: block;
    }
}

//=================== labels

// font-size : 28->24->22
.section-title {
    color: $black;
    font-size: 22px;
    font-weight: 700;
    line-height: $basic-line-height;

    @media (min-width: $screen-sm-min) {
        font-size: 24px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 28px;
    }
}

.section-title2 {
    color: $black;
    font-size: 30px;
    font-weight: 700;
    line-height: $basic-line-height;
    margin-top: .5em;

    @media (min-width: $screen-sm-min) {
        font-size: 44px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 62px;
    }
}

.section-title--center {
    text-align: center;
}

.menu-label {
    color: $black;
    font-size: 18px;
    line-height: 200%;

    &:hover {
        text-decoration: none;
        color: $red;
    }
}

.menu-label--overlay {
    color: $white;
    font-size: 20px;
    line-height: 200%;

    &:hover {
        text-decoration: none;
        color: $red;
    }
}

.article-label1 {
    font-family: $font2;
    color: #8f7669;
    font-size: 18px;
    font-weight: 700;
    line-height: $basic-line-height;
}

.article-label2 {
    font-family: $font2;
    color: #8f7669;
    font-size: 14px;
    font-weight: 700;
    line-height: $basic-line-height;
}

// font-size : 26->24->24
.article-title1 {
    color: $black;
    font-size: 24px;
    font-weight: 700;
    line-height: $basic-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}
// font-size : 26->24->20
.article-title2 {
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: $basic-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 24px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}
// font-size : 26->22->22
.article-title3 {
    color: $black;
    font-size: 22px;
    font-weight: 700;
    line-height: $basic-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}
// font-size : 22->18->18
.article-title4 {
    color: $black;
    font-size: 18px;
    font-weight: 700;
    line-height: $basic-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 22px;
    }
}
// font-size : 22->20->20
.article-title5 {
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: $basic-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 22px;
    }
}
// font-size : 26->26->22
.article-title6 {
    color: $black;
    font-size: 22px;
    font-weight: 700;
    line-height: $basic-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 26px;
    }
}
// font-size : 40->36->26
.article-title7 {
    color: $black;
    font-size: 26px;
    font-weight: 700;
    line-height: $basic-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 36px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 40px;
    }
}
// font-size : 18 -> 16 -> 16
.article-passage1 {
    font-family: $font2;
    color: $passage-color;
    font-size: 16px;
    font-weight: 400;
    line-height: $basic-line-height;

    &:hover {
        color: $passage-color;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 18px;
    }
}
// font-size : 18 -> 16 -> 14
.article-passage2 {
    font-family: $font2;
    color: $passage-color;
    font-size: 14px;
    font-weight: 400;
    line-height: $basic-line-height;

    &:hover {
        color: $passage-color;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 16px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 18px;
    }
}
// font-size : 16 -> 16 -> 14
.article-passage3 {
    font-family: $font2;
    color: $passage-color;
    font-size: 14px;
    font-weight: 400;
    line-height: $basic-line-height;

    &:hover {
        color: $passage-color;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 16px;
    }
}
// font-size : 20 -> 18 -> 16
.article-passage4 {
    font-family: $font2;
    color: $passage-color;
    font-size: 16px;
    font-weight: 400;
    line-height: $basic-line-height;

    &:hover {
        color: $passage-color;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 18px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 20px;
    }
}
.passage-color2 {
    color: $passage-color2;

    &:hover {
        color: $passage-color2;
    }
}

// buttons
.hrd-btn-outline {
    padding: 10px 30px;
    height: 40px;
    font-size: 18px;
    line-height: 90%;
    font-weight: 700;
    border-width: 2px;
    border-radius: 30px;
    background-color: transparent;
    background-image: none;
    border-color: $black;
    color: $black;

    &:hover {
        color: $white;
        background-color: $black;
        border-color: $black;
    }

    @media (max-width: $screen-xs-max) {
        padding: 10px 15px;
        font-size: 14px;
    }
}

.hrd-btn-outline--red {
    color: $red;
    border-color: $red;

    &:hover {
        background-color: $red;
        border-color: $red;
    }
}

.hrd-btn-outline--grey {
    color: $grey;
    border-color: $grey;

    &:hover {
        background-color: $grey;
        border-color: $grey;
    }
}

.hrd-btn-inline {
    padding: 10px 30px;
    height: 40px;
    font-size: 18px;
    line-height: 90%;
    font-weight: 700;
    border-width: 2px;
    border-radius: 30px;
    color: $white;
    background-color: $black;
    border-color: $black;

    &:hover {
        color: $black;
        background-color: transparent;
        background-image: none;
    }

    @media (max-width: $screen-xs-max) {
        padding: 10px 15px;
        font-size: 14px;
    }
}

.hrd-btn-inline--red {
    background-color: $red;
    border-color: $red;

    &:hover {
        color: $red;
    }
}