@import "_variables.scss";
@import "_mixins.scss";
// default style
body, table, div, p {
    font-family: $font-1;
    font-weight: 400;
    padding:0;
    margin:0;
}

p {
    margin-bottom: 15px;
}

// wrapper
.wrapper-fluid {
    width: 100%;
    min-width: $screen-xs-min;
}

.wrapper-fluid--relative {
    position: relative;
}

.wrapper {
    width: 100%;
    min-width: $screen-xs-min;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-xs-min) { // 320px
        max-width: $screen-xs-max;
    }

    @media (min-width: $screen-sm-min) { // 768px
        max-width: $screen-sm-max;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (min-width: $screen-md-min) { // 992px
        max-width: $screen-md-max;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (min-width: $screen-lg-min) { // 1200px
        max-width: $screen-lg-max;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (min-width: $screen-xlg-min) { // 1450px
        max-width: $screen-lg-max;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.wrapper--center {
    text-align:center;
}

.wrapper--flex-1 {
    display: block;

    @media (min-width: $screen-lg-min) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// remove properties
.no-border {
    border: 0;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-deco {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

// underline
.underline-1 {
    border-bottom: solid $bar-color 1px;
}

.underline-2 {
    border-bottom: 1px solid $bar-color-2;
}

.underline-3 {
    border-bottom: 1px solid $bar-color-3;
}

// margin bottom
.margin-bottom-1 {
    margin-bottom: 25px;

    @media (min-width: $screen-sm-min) {
        margin-bottom: 30px;
    }

    @media (min-width: $screen-lg-min) {
        margin-bottom: 45px;
    }
}

.margin-bottom-2 {
    margin-bottom: 35px;

    @media (min-width: $screen-sm-min) {
        margin-bottom: 40px;
    }

    @media (min-width: $screen-lg-min) {
        margin-bottom: 50px;
    }
}

// display none by screen size
.hide-from-xs {
    display: none;

    @media (min-width: $screen-sm-min) {
        display: block;
    }
}

.hide-from-sm {
    display: none;

    @media (min-width: $screen-md-min) {
        display: block;
    }
}

.hide-from-md {
    display: none;

    @media (min-width: $screen-lg-min) {
        display: block;
    }
}

// etc
.rss-color {
    color: $rss-color;
}
//=================== ads
// mobile ad 1
.xs-ad {
    display: none;
    background-color: $bgcolor1;
    margin-bottom: 30px;

    @media (max-width: $screen-xs-max) { // 768px - 1
        display: block;
        text-align: center;
        padding: 0 15px;
        padding-bottom: 30px;

        p {
            margin: 0;
        }

        p::before {
            content: "ADVERTISEMENT";
            display: block;
            color: #bbbbbb;
            font-size: 11px;
            font-family: $font-2;
            line-height: 30px;
        }
    }
}

// ipad + mobile ad
.sm-ad {
    display: none;

    @media (max-width: $screen-md-max) {
        display: block;
        text-align: center;
        padding: 30px 30px;
    }

    @media (max-width: $screen-xs-max) {
        display: block;
        text-align: center;
        padding: 20px 10px;
    }
}

// pc ad 1
.lg-ad {
    display: none;
    background-color: $bgcolor1;
    @extend .margin-bottom-1;

    @media (min-width: $screen-sm-min) { // 768px
        display: block;
        text-align: center;
        padding: 0 30px;
        padding-bottom: 30px;

        img {
            max-width: 970px;
            width: 100%
        }

        p {
            margin: 0;
        }

        p::before {
            content: "ADVERTISEMENT";
            display: block;
            color: #bbbbbb;
            font-size: 11px;
            font-family: $font-2;
            line-height: 30px;
        }
    }
}

//==================== font style for label, section, title, passage
// static font size
.font-label-1 {
    font-family: $font-2;
    color: #8f7669;
    font-size: 18px;
    font-weight: 700;
    line-height: $default-line-height;

    &:hover {
        text-decoration: none;
        color: #8f7669;
    }
}

.font-label-2 {
    font-family: $font-2;
    color: #8f7669;
    font-size: 14px;
    font-weight: 700;
    line-height: $default-line-height;

    &:hover {
        text-decoration: none;
        color: #8f7669;
    }
}

.font-label-3 {
    font-family: $font-2;
    line-height: $default-line-height;
    color: #bcbcbc;
    font-size: 15px;
    font-weight: 400;

    &:hover {
        text-decoration: underline;
        color: #bcbcbc;
    }
}

.font-label-4 {
    color: $black;
    font-size: 18px;
    line-height: 200%;

    &:hover {
        text-decoration: none;
        color: $red;
    }
}

.font-label-5 {
    color: $grey;
    font-size: 20px;
    line-height: 200%;

    &:hover {
        text-decoration: none;
        color: $red;
    }
}

// font-size (lg->sm->xs) : 28->24->22
.font-section-1 {
    color: $black;
    font-size: 22px;
    font-weight: 700;
    line-height: $default-line-height;

    @media (min-width: $screen-sm-min) {
        font-size: calc(2vw + 4px);
    }

    @media (min-width: $screen-lg-min) {
        font-size: 28px;
    }
}

// font-size (lg->sm->xs) : 28->26->26
.font-section-2 {
    color: $black;
    font-size: 26px;
    font-weight: 700;
    line-height: $default-line-height;

    @media (min-width: $screen-lg-min) {
        font-size: 28px;
    }
}

// font-size (lg->sm->xs) : 62->44->30
.font-section-3 {
    color: $black;
    font-size: 30px;
    font-weight: 700;
    line-height: $default-line-height;
    margin-top: .5em;

    @media (min-width: $screen-sm-min) {
        //font-size: 44px;
        font-size: calc(10px + 4vw);
    }

    @media (min-width: $screen-lg-min) {
        font-size: 62px;
    }
}

// font-size (lg->sm->xs) : 26->24->24
.font-title-1 {
    color: $black;
    font-size: 24px;
    font-weight: 700;
    line-height: $default-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}
// font-size (lg->sm->xs) : 26->24->20
.font-title-2 {
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: $default-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 24px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}
// font-size (lg->sm->xs) : 26->22->22
.font-title-3 {
    color: $black;
    font-size: 22px;
    font-weight: 700;
    line-height: $default-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}
// font-size (lg->sm->xs) : 22->18->18
.font-title-4 {
    color: $black;
    font-size: 18px;
    font-weight: 700;
    line-height: $default-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 22px;
    }
}
// font-size (lg->sm->xs) : 22->20->20
.font-title-5 {
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: $default-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 22px;
    }
}
// font-size (lg->sm->xs) : 26->26->22
.font-title-6 {
    color: $black;
    font-size: 22px;
    font-weight: 700;
    line-height: $default-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 26px;
    }
}
// font-size (lg->sm->xs) : 40->36->26
.font-title-7 {
    color: $black;
    font-size: 26px;
    font-weight: 700;
    line-height: $default-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 36px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 40px;
    }
}
// font-size (lg->sm->xs) : 22->20->18
.font-title-8 {
    color: $black;
    font-size: 18px;
    font-weight: 700;
    line-height: $line-height-1;

    &:hover {
        color: $black;
    }

    a {
        color: #3aa8cc;
        text-decoration: underline;
    }

    @media (min-width: $screen-sm-min) {
        font-size: calc(1vw + 10px);
    }

    @media (min-width: $screen-lg-min) {
        font-size: 22px;
    }
}
// font-size (lg->sm->xs) : 62->44->30
.font-title-9 {
    color: $black;
    font-size: 30px;
    font-weight: 700;
    line-height: $default-line-height;
    margin-top: .5em;

    @media (min-width: $screen-sm-min) {
        //font-size: 44px;
        font-size: calc(10px + 4vw);
    }

    @media (min-width: $screen-lg-min) {
        font-size: 62px;
    }
}
// font-size (lg->sm->xs) : 18 -> 16 -> 16
.font-passage-1 {
    font-family: $font-2;
    color: $passage-color;
    font-size: 16px;
    font-weight: 400;
    line-height: $default-line-height;

    &:hover {
        color: $passage-color;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 18px;
    }
}
// font-size (lg->sm->xs) : 18 -> 16 -> 14
.font-passage-2 {
    font-family: $font-2;
    color: $passage-color;
    font-size: 14px;
    font-weight: 400;
    line-height: $default-line-height;

    &:hover {
        color: $passage-color;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 16px;
        //font-size: calc(1vw + 5.5px);
    }

    @media (min-width: $screen-lg-min) {
        font-size: 18px;
    }
}
// font-size (lg->sm->xs) : 16 -> 16 -> 14
.font-passage-3 {
    font-family: $font-2;
    color: $passage-color;
    font-size: 14px;
    font-weight: 400;
    line-height: $default-line-height;

    &:hover {
        color: $passage-color;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 16px;
    }
}
// font-size (lg->sm->xs) : 20 -> 18 -> 16
.font-passage-4 {
    font-family: $font-2;
    color: $passage-color;
    font-size: 16px;
    font-weight: 400;
    line-height: $default-line-height;

    &:hover {
        color: $passage-color;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 18px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 20px;
    }
}
// font-size (lg->sm->xs) : 22 -> 20 -> 18
.font-passage-5 {
    color: $black;
    font-size: 18px;
    font-weight: 400;
    line-height: $line-height-1;

    &:hover {
        color: $black;
    }

    a {
        color: #3aa8cc;
        text-decoration: underline;
    }

    @media (min-width: $screen-sm-min) {
        font-size: calc(1vw + 10px);
    }

    @media (min-width: $screen-lg-min) {
        font-size: 22px;
    }
}

// font-size (lg->sm->xs) : 18 -> 16 -> 14
.font-passage-6 {
    font-family: $font-2;
    color: $passage-color;
    font-size: 14px;
    font-weight: 400;
    line-height: $default-line-height;

    &:hover {
        color: $passage-color;
    }

    span {
        color: #4fafd0;
    }

    @media (min-width: $screen-sm-min) {
        font-size: calc(1vw + 5.5px);
    }

    @media (min-width: $screen-lg-min) {
        font-size: 18px;
    }
}

// font-size (lg->sm->xs) : 16 -> 16 -> 14
.font-passage-7 {
    font-family: $font-2;
    color: $passage-color-2;
    font-size: 14px;
    font-weight: 400;
    line-height: $default-line-height;

    &:hover {
        color: $passage-color-2;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 16px;
    }
}

// buttons
.hrd-btn-outline {
    padding: 10px 30px;
    height: 40px;
    font-size: 18px;
    line-height: 90%;
    font-weight: 700;
    border-width: 2px;
    border-radius: 30px;
    background-color: transparent;
    background-image: none;
    border-color: $black;
    color: $black;

    &:hover {
        color: $white;
        background-color: $black;
        border-color: $black;
    }

    @media (max-width: $screen-xs-max) {
        padding: 10px 15px;
        font-size: 14px;
    }
}

.hrd-btn-outline--red {
    color: $red;
    border-color: $red;

    &:hover {
        background-color: $red;
        border-color: $red;
    }
}

.hrd-btn-outline--grey {
    color: $grey;
    border-color: $grey;

    &:hover {
        background-color: $grey;
        border-color: $grey;
    }
}

.hrd-btn-inline {
    padding: 10px 30px;
    height: 40px;
    font-size: 18px;
    line-height: 90%;
    font-weight: 700;
    border-width: 2px;
    border-radius: 30px;
    color: $white;
    background-color: $black;
    border-color: $black;

    &:hover {
        color: $black;
        background-color: transparent;
        background-image: none;
    }

    @media (max-width: $screen-xs-max) {
        padding: 10px 15px;
        font-size: 14px;
    }
}

.hrd-btn-inline--red {
    background-color: $red;
    border-color: $red;

    &:hover {
        color: $red;
    }
}


// breadcrumb
.wrapper--breadcrumb {
    padding-top: 20px;

    @media (min-width: $screen-sm-min) {
        padding-top: 30px;
    }

    @media (min-width: $screen-lg-min) {
        padding-top: 48px;
    }
}

.breadcrumb {
    padding: 0;
    margin: 0;
    background-color: $white; //3aa8cc
}

.breadcrumb-item {
    font-family: $font-2;

    a {
        @extend .font-passage-1;
        color: #3aa8cc;
        text-decoration: none;

        &:hover {
            color: #3aa8cc;
        }
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "·";
    color: #b7b7b7;
}