// main: ../site.scss
// @import "_variables.scss";
// @import "_mixins.scss";
/*
==========================================================================
    Default
==========================================================================
*/
body,
div,
p,
table {
    font-family: $font-1;
    font-weight: $regular;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 15px;
}
/*
==========================================================================
    Wrapper
==========================================================================
*/
.wrapper-fluid {
    width: 100%;
    min-width: $screen-xs-min;
}

.wrapper-fluid--relative {
    position: relative;
}

.wrapper {
    width: 100%;
    min-width: $screen-xs-min;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $screen-xs-min) {
        // 320px
        max-width: $screen-xs-max;
    }
    @media (min-width: $screen-sm-min) {
        // 768px
        max-width: $screen-sm-max;
        padding-left: 24px;
        padding-right: 24px;
    }
    @media (min-width: $screen-md-min) {
        // 992px
        max-width: $screen-md-max;
        padding-left: 24px;
        padding-right: 24px;
    }
    @media (min-width: $screen-lg-min) {
        // 1200px
        max-width: $screen-lg-max;
        padding-left: 24px;
        padding-right: 24px;
    }
    @media (min-width: $screen-xlg-min) {
        // 1450px
        max-width: $screen-lg-max;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.wrapper--center {
    text-align: center;
}

.wrapper--flex-1 {
    display: block;
    @media (min-width: $screen-lg-min) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
/*
==========================================================================
    Advertisements
==========================================================================
*/
// mobile ad 1

.xs-ad {
    display: none;
    background-color: $bg-color;
    margin-bottom: 30px;
    @media (max-width: $screen-xs-max) {
        display: block;
        text-align: center;
        padding: 0 15px 30px;

        p {
            margin: 0;
        }

        p::before {
            content: "ADVERTISEMENT";
            display: block;
            color: #bbbbbb;
            font-size: 11px;
            font-family: $font-2;
            line-height: 30px;
        }
    }
}
// ipad + mobile ad

.sm-ad {
    display: none;
    @media (max-width: $screen-md-max) {
        display: block;
        text-align: center;
        padding: 30px;
    }
    @media (max-width: $screen-xs-max) {
        display: block;
        text-align: center;
        padding: 20px 10px;
    }
}
// pc ad 1

.lg-ad {
    display: none;
    background-color: $bg-color;
    @extend .mb-45-30-25;
    @media (min-width: $screen-sm-min) {
        display: block;
        text-align: center;
        padding: 0 30px 30px;

        img {
            max-width: 970px;
            width: 100%;
        }

        p {
            margin: 0;
        }

        p::before {
            content: "ADVERTISEMENT";
            display: block;
            color: #bbbbbb;
            font-size: 11px;
            font-family: $font-2;
            line-height: 30px;
        }
    }
}
/*
==========================================================================
    Font styles for label, section, title, passage
==========================================================================
*/
.font1 {
    font-family: $font-1;
    color: $black;
    font-weight: $regular;
    line-height: $default-line-height;

    &:hover {
        color: $black;
    }
}

.font2 {
    font-family: $font-2;
    color: $black;
    font-weight: $regular;
    line-height: $default-line-height;

    &:hover {
        color: $black;
    }
}

.passage {
    font-family: $font-2;
    color: $passage-color;
    font-weight: $regular;
    line-height: $default-line-height;

    &:hover {
        color: $passage-color;
    }
}
// static size font (B = Bold)

.font2-18-B {
    @extend .font2;
    font-size: 18px;
    font-weight: $bold;
}

.font2-14-B {
    @extend .font2;
    font-size: 14px;
    font-weight: $bold;
}

.font2-15 {
    @extend .font2;
    font-size: 15px;
}

.font1-18 {
    @extend .font1;
    font-size: 18px;
}

.font1-20 {
    @extend .font1;
    font-size: 20px;
}
// variable size font
// font-size (lg->sm->xs) : 18->18->16

.font2-18-18-16 {
    @extend .font2;
    font-size: 16px;
    @media (min-width: $screen-sm-min) {
        font-size: 18px;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 18px;
    }
}

.font2-18-18-16-B {
    @extend .font2-18-18-16;
    font-weight: $bold;
}
// font-size (lg->sm->xs) : 18->16->16

.font2-18-16-16 {
    @extend .font2;
    font-size: 16px;
    @media (min-width: $screen-lg-min) {
        font-size: 18px;
    }
}
// font-size (lg->sm->xs) : 28->24->22

.font1-28-24-22-B {
    @extend .font1;
    font-size: 22px;
    font-weight: $bold;
    @media (min-width: $screen-sm-min) {
        font-size: 24px;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 28px;
    }
}
// font-size (lg->sm->xs) : 28->24->22

.font1-28-24C-22-B {
    @extend .font1-28-24-22-B;
    @media (min-width: $screen-sm-min) {
        font-size: calc(2vw + 4px);
    }
    @media (min-width: $screen-lg-min) {
        font-size: 28px;
    }
}
// font-size (lg->sm->xs) : 28->26->22

.font1-28-26-22-B {
    @extend .font1;
    font-size: 22px;
    font-weight: $bold;
    @media (min-width: $screen-sm-min) {
        font-size: 26px;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 28px;
    }
}
// font-size (lg->sm->xs) : 28->26->26

.font1-28-26-26-B {
    @extend .font1;
    font-size: 26px;
    font-weight: $bold;
    @media (min-width: $screen-lg-min) {
        font-size: 28px;
    }
}
// font-size (lg->sm->xs) : 62->44->30

.font1-62-44C-30-B {
    @extend .font1;
    font-size: 30px;
    font-weight: $bold;
    @media (min-width: $screen-sm-min) {
        //font-size: 44px;
        font-size: calc(10px + 4vw);
    }
    @media (min-width: $screen-lg-min) {
        font-size: 62px;
    }
}
// font-size (lg->sm->xs) : 26->24->24

.font1-26-24-24-B {
    @extend .font1;
    font-size: 24px;
    font-weight: $bold;
    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}
// font-size (lg->sm->xs) : 26->24->22

.font1-26-24-22-B {
    @extend .font1;
    font-size: 22px;
    font-weight: $bold;
    @media (min-width: $screen-sm-min) {
        font-size: 24px;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}
// font-size (lg->sm->xs) : 26->24->20

.font1-26-24-20-B {
    @extend .font1;
    font-size: 20px;
    font-weight: $bold;
    @media (min-width: $screen-sm-min) {
        font-size: 24px;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}
// font-size (lg->sm->xs) : 26->22->22

.font1-26-22-22-B {
    @extend .font1;
    font-size: 22px;
    font-weight: $bold;
    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}
// font-size (lg->sm->xs) : 22->18->18

.font1-22-18-18-B {
    @extend .font1;
    font-size: 18px;
    font-weight: $bold;
    @media (min-width: $screen-lg-min) {
        font-size: 22px;
    }
}
// font-size (lg->sm->xs) : 22->20->20

.font1-22-20-20-B {
    @extend .font1;
    font-size: 20px;
    font-weight: $bold;
    @media (min-width: $screen-lg-min) {
        font-size: 22px;
    }
}
// font-size (lg->sm->xs) : 26->26->22

.font1-26-26-22-B {
    @extend .font1;
    font-size: 22px;
    font-weight: $bold;
    @media (min-width: $screen-sm-min) {
        font-size: 26px;
    }
}
// font-size (lg->sm->xs) : 40->36->26

.font1-40-36-26-B {
    @extend .font1;
    font-size: 26px;
    font-weight: $bold;
    @media (min-width: $screen-sm-min) {
        font-size: 36px;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 40px;
    }
}
// font-size (lg->sm->xs) : 20->17->17

.font1-20-17-17-B {
    @extend .font1;
    font-size: 17px;
    font-weight: $bold;
    @media (min-width: $screen-lg-min) {
        font-size: 20px;
    }
}
// font-size (lg->sm->xs) : 22->20->18

.font2-22-20C-18-B {
    @extend .font2;
    font-size: 18px;
    font-weight: $bold;
    @media (min-width: $screen-sm-min) {
        font-size: calc(1vw + 10px);
    }
    @media (min-width: $screen-lg-min) {
        font-size: 22px;
    }
}
// font-size (lg->sm->xs) : 62->44->30

.font1-62-44C-30-B {
    @extend .font1;
    font-size: 30px;
    font-weight: $bold;
    @media (min-width: $screen-sm-min) {
        //font-size: 44px;
        font-size: calc(10px + 4vw);
    }
    @media (min-width: $screen-lg-min) {
        font-size: 62px;
    }
}
// font-size (lg->sm->xs) : 24->22->20

.font1-24-22-20-B {
    @extend .font1;
    font-size: 20px;
    font-weight: $bold;
    @media (min-width: $screen-sm-min) {
        font-size: 22px;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 24px;
    }
}
// font-size (lg->sm->xs) : 24->22->20

.font2-24-22-20-B {
    @extend .font2;
    font-size: 20px;
    font-weight: $bold;
    @media (min-width: $screen-sm-min) {
        font-size: 22px;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 24px;
    }
}
// font-size (lg->sm->xs) : 22->20->18

.font2-22-20C-18 {
    @extend .font2;
    font-size: 18px;
    @media (min-width: $screen-sm-min) {
        font-size: calc(1vw + 10px);
    }
    @media (min-width: $screen-lg-min) {
        font-size: 22px;
    }
}
// font-size (lg->sm->xs) : 22->20->18

.font2-20-20-18-L {
    @extend .font2;
    font-weight: $light;
    font-size: 18px;
    @media (min-width: $screen-sm-min) {
        font-size: 20px;
    }
}
// font-size (lg->sm->xs) : 22->20->18

.font2-22-20-18 {
    @extend .font2;
    font-size: 18px;
    @media (min-width: $screen-sm-min) {
        font-size: 20px;
    }
    @media (min-width: $screen-sm-min) {
        font-size: 22px;
    }
}

.font2-22-20-18-L {
    @extend .font2-22-20-18;
    font-weight: $light;
}

.font2-22-20-18-B {
    @extend .font2-22-20-18;
    font-weight: $bold;
}
// font-size (lg->sm->xs) : 18->16->16

.passage-18-16-16 {
    @extend .passage;
    font-size: 16px;
    @media (min-width: $screen-lg-min) {
        font-size: 18px;
    }
}
// font-size (lg->sm->xs) : 18->16->14

.passage-18-16-14 {
    @extend .passage;
    font-size: 14px;
    @media (min-width: $screen-sm-min) {
        font-size: 16px;
        //font-size: calc(1vw + 5.5px);
    }
    @media (min-width: $screen-lg-min) {
        font-size: 18px;
    }
}
// font-size (lg->sm->xs) : 16->16->14

.passage-16-16-14 {
    @extend .passage;
    font-size: 14px;
    @media (min-width: $screen-sm-min) {
        font-size: 16px;
    }
}
// font-size (lg->sm->xs) : 20->18->16

.passage-20-18-16 {
    @extend .passage;
    font-size: 16px;
    @media (min-width: $screen-sm-min) {
        font-size: 18px;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 20px;
    }
}
// font-size (lg->sm->xs) : 18->16->14

.passage-18-16C-14 {
    @extend .passage;
    font-size: 14px;
    @media (min-width: $screen-sm-min) {
        font-size: calc(1vw + 5.5px);
    }
    @media (min-width: $screen-lg-min) {
        font-size: 18px;
    }
}
// font-size (lg->sm->xs) : 18->18->16

.passage-18-18-16 {
    @extend .passage;
    font-size: 16px;
    @media (min-width: $screen-sm-min) {
        font-size: 18px;
    }
}
/*
==========================================================================
    Buttons
==========================================================================
*/
.btn-outline {
    padding: 10px 30px;
    height: 40px;
    font-size: 18px;
    line-height: 90%;
    font-weight: $bold;
    border-width: 2px;
    border-radius: 30px;
    background-color: transparent;
    background-image: none;
    border-color: $black;
    color: $black;

    &:hover {
        color: $white;
        background-color: $black;
        border-color: $black;
    }
    @media (max-width: $screen-xs-max) {
        padding: 10px 15px;
        font-size: 14px;
    }
}

.btn-outline--red {
    color: $red;
    border-color: $red;

    &:hover {
        background-color: $red;
        border-color: $red;
    }
}

.btn-outline--orange {
    color: $orange;
    border-color: $orange;

    &:hover {
        background-color: $orange;
        border-color: $orange;
    }
}

.btn-outline--grey {
    color: $grey;
    border-color: $grey;

    &:hover {
        background-color: $grey;
        border-color: $grey;
    }
}

.btn-inline {
    padding: 10px 30px;
    height: 40px;
    font-size: 18px;
    line-height: 90%;
    font-weight: $bold;
    border-width: 2px;
    border-radius: 30px;
    color: $white;
    background-color: $black;
    border-color: $black;

    &:hover {
        color: $black;
        background-color: transparent;
        background-image: none;
    }
    @media (max-width: $screen-xs-max) {
        padding: 10px 15px;
        font-size: 14px;
    }
}

.btn-inline--red {
    background-color: $red;
    border-color: $red;

    &:hover {
        color: $red;
    }
}

.btn-inline--orange {
    background-color: $orange;
    border-color: $orange;

    &:hover {
        color: $orange;
    }
}

.btn-go-top {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 15px;
    z-index: 9999;
    border: none;
    background-color: $red;
    opacity: 0.5;
    color: $white;
    font-size: 20px;
    text-align: center;
    padding: 5px 12px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}
/*
==========================================================================
    Breadcrumb
==========================================================================
*/
.wrapper--breadcrumb {
    padding-top: 20px;
    padding-bottom: 20px;
    @media (min-width: $screen-sm-min) {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    @media (min-width: $screen-lg-min) {
        padding-top: 48px;
        padding-bottom: 30px;
    }
}

.breadcrumb {
    padding: 0;
    margin: 0;
    background-color: $white;
}

.breadcrumb-item {
    font-family: $font-2;

    a {
        @extend .passage-18-16-16;
        color: #3aa8cc;
        text-decoration: none;

        &:hover {
            color: #3aa8cc;
        }
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "·";
    color: #b7b7b7;
}
/*
==========================================================================
     Overlay (Search & sitemap)
==========================================================================
*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
    color: $black;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px;
}

.overlay__header {
    @extend .mb-50-40-35;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.overlay__header__btn {
    a {
        color: $grey;
    }
}

.overlay__search-input {
    background-color: $white;
    color: $grey;
    width: 100%;
    font-size: 30px;
    font-weight: $regular;
    padding: 0.3em 0.5em;
    border: solid 1px #ced4da;
    margin-bottom: 1.3em;
    @media (max-width: $screen-sm-max) {
        font-size: 26px;
    }
}

.overlay__menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
    @media (max-width: $screen-sm-max) {
        display: block;
    }
}

.overlay__menus__item {
    padding: 30px 0;

    p {
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    a {
        line-height: 200%;
    }

    a:hover {
        text-decoration: none;
        color: $red;
    }
}

.overlay-menu-title {
    color: $grey;
    font-size: 26px;
    font-weight: $bold;
    line-height: $default-line-height;

    &:hover {
        color: $grey;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 30px;
    }
}
/**
 * These rules extend `.wrapper-fluid {}` in _common.scss.
 */
.wrapper-fluid--overlay-tabs {
    @extend .underline-2;
    @extend .mb-50-40-35;
}

.overlay__tab {
    @extend .passage-18-16-16;
    display: inline-block;
    padding: 10px 30px;
    color: $black;

    &.active {
        border-bottom: solid 3px $red;
    }

    &:hover {
        color: $black;
        text-decoration: none;
    }
}

.overlay__result-item {
    @extend .mb-50-40-35;
}
// pagination override

.page-item {
    &.active .page-link {
        background-color: $red;
        border-color: #dee2e6;
    }
}

.page-link {
    color: $black;

    &:hover {
        color: $red;
        background-color: $white;
    }
}
/*
==========================================================================
    Containers
==========================================================================
*/
.border-container {
    width: 100%;
    padding: 20px 0;
    border-top: solid 2px $dark-grey;
    border-bottom: solid 2px $dark-grey;
    margin-bottom: 15px;

    a {
        color: $link-color;
        text-decoration: underline;
    }
    @media (min-width: $screen-sm-min) {
        padding: 30px 0;
        margin-bottom: 20px;
    }
    @media (min-width: $screen-lg-min) {
        padding: 50px 0;
        margin-bottom: 25px;
    }
}

.border-container__header {
    display: table;
    width: 100%;

    div:nth-child(1) {
        display: table-cell;
        width: 90%;
        vertical-align: middle;
    }

    div:nth-child(2) {
        display: table-cell;
        text-align: right;
        font-size: 36px;
        @media (min-width: $screen-sm-min) {
            font-size: 48px;
        }
    }
}

.labelled-container {
    position: relative;
    border: solid 2px $bar-color;
    padding: 30px 40px;
    @media (min-width: $screen-sm-min) {
        padding: 35px 45px;
    }
    @media (min-width: $screen-lg-min) {
        padding: 40px 50px;
    }

    & > .container-label {
        position: absolute;
        background-color: $red;
        color: $white;
        top: -2px;
        left: -2px;
        font-size: 14px;
        line-height: $line-height-2;
        padding: 0 0.5em;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
    }
}

.input-container {
    width: 100%;

    & > div {
        @extend .mb-25-20-15;
    }

    & input[type="radio"] {
        width: 17px;
        height: 17px;
        margin-top: -5px;
        vertical-align: middle;
    }
}

.input-container-2 {
    @extend .input-container;
    @media (min-width: $screen-sm-min) {
        width: 70%;
    }
    @media (min-width: $screen-lg-min) {
        width: 60%;
    }
}

.input-container-3 {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    & > div {
        flex-basis: 100%;
        margin-bottom: 1em;
        @media (min-width: $screen-sm-min) {
            flex-basis: 50%;
        }
    }

    & input[type="radio"] {
        margin-top: -2px;
        display: table-cell;
        vertical-align: middle;
        width: 17px;
        height: 17px;
    }

    & label {
        //padding: 5px;
        //margin: 10px;
    }
}
/*
==========================================================================
    Validation
==========================================================================
*/

.invalid-feedback,
.valid-feedback {
    font-family: $font-2;
    font-size: 14px;
}

.form-check {
    padding: 0;
    margin: 0;
}

.form-check-input {
    position: inherit;
    padding: 0;
    margin: 0;
}
/*
==========================================================================
    Single property
==========================================================================
*/
.no-border {
    border: 0;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-deco {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
// underline

.underline-1 {
    border-bottom: solid $bar-color 1px;
}

.underline-2 {
    border-bottom: 1px solid $bar-color-2;
}

.underline-3 {
    border-bottom: 1px solid $bar-color-3;
}
// margin bottom

.mb-50-40-35 {
    margin-bottom: 35px;
    @media (min-width: $screen-sm-min) {
        margin-bottom: 40px;
    }
    @media (min-width: $screen-lg-min) {
        margin-bottom: 50px;
    }
}

.mb-60-30-20 {
    margin-bottom: 20px;
    @media (min-width: $screen-sm-min) {
        margin-bottom: 30px;
    }
    @media (min-width: $screen-lg-min) {
        margin-bottom: 60px;
    }
}

.mb-45-30-25 {
    margin-bottom: 25px;
    @media (min-width: $screen-sm-min) {
        margin-bottom: 30px;
    }
    @media (min-width: $screen-lg-min) {
        margin-bottom: 45px;
    }
}

.mb-35-20-15 {
    margin-bottom: 15px;
    @media (min-width: $screen-sm-min) {
        margin-bottom: 20px;
    }
    @media (min-width: $screen-lg-min) {
        margin-bottom: 35px;
    }
}

.mb-40-35-30 {
    margin-bottom: 30px;
    @media (min-width: $screen-sm-min) {
        margin-bottom: 35px;
    }
    @media (min-width: $screen-lg-min) {
        margin-bottom: 40px;
    }
}

.mb-25-20-15 {
    margin-bottom: 15px;
    @media (min-width: $screen-sm-min) {
        margin-bottom: 20px;
    }
    @media (min-width: $screen-lg-min) {
        margin-bottom: 25px;
    }
}

.mb-0-0-20 {
    margin-bottom: 20px;
    @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
    }
    @media (min-width: $screen-lg-min) {
        margin-bottom: 0;
    }
}

.mb-50-0-0 {
    margin-bottom: 0;
    @media (min-width: $screen-lg-min) {
        margin-bottom: 50px;
    }
}
// display none by screen size

.hide-from-xs {
    display: none;
    @media (min-width: $screen-sm-min) {
        display: block;
    }
}

.hide-from-sm {
    display: none;
    @media (min-width: $screen-md-min) {
        display: block;
    }
}

.hide-from-md {
    display: none;
    @media (min-width: $screen-lg-min) {
        display: block;
    }
}
// font color, weight, etc

.light-grey {
    color: $light-grey;

    &:hover {
        color: $light-grey;
    }
}

.grey {
    color: $grey;

    &:hover {
        color: $grey;
    }
}

.dark-grey {
    color: $dark-grey;

    &:hover {
        color: $dark-grey;
    }
}

.light-brown {
    color: $light-brown;

    &:hover {
        color: $light-brown;
    }
}

.rss-color {
    color: $rss-color;
}

.bold {
    font-weight: $bold;
}

.bolder {
    font-weight: $bold;
}
