/**
 * These rules extend `.wrapper {}` in _common.scss.
 */
.wrapper--header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}

@media (max-width: 767px) {
  .wrapper--header {
    align-items: center;
  }
}

.logo {
  padding-bottom: 20px;
}

.logo__desktop {
  display: none;
}

@media (min-width: 1200px) {
  .logo__desktop {
    display: block;
  }
}

.logo__mobile {
  display: none;
}

@media (max-width: 1199px) {
  .logo__mobile {
    display: block;
  }
}

.logo__btn {
  display: flex;
  justify-content: space-between;
  height: 15px;
  margin-top: 5px;
  width: 100%;
}

.logo__btn__item {
  width: 30px;
  vertical-align: top;
  text-align: center;
  background-color: #6d6e71;
}

.logo__btn__item.active {
  background-color: red;
}

.logo__btn__item a {
  line-height: 120%;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  color: white;
}

.logo__btn__item a:hover {
  text-decoration: none;
}

.menu-item {
  display: none;
}

@media (min-width: 768px) {
  .menu-item {
    display: block;
    width: 70%;
  }
}

.menu-item__search {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}

.menu-item__search__input {
  font-size: 14px;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  min-width: 170px;
  height: 32px;
}

.menu-item__search__btn {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 32px;
  background-color: transparent;
  color: #6d6e71;
  cursor: pointer;
  font-size: 20px;
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.menu-item__xs-search, .menu-item__xs-menu {
  display: none;
  font-size: 22px;
}

.menu-item__xs-search button, .menu-item__xs-menu button {
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}

@media (max-width: 767px) {
  .menu-item__xs-search, .menu-item__xs-menu {
    display: block;
  }
}

.menu-item__nav {
  padding-top: 20px;
}

/**
 * These rules extend `.nav {}` in _nav.scss in bootstrap.
 */
.nav--header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

@media (min-width: 768px) {
  .nav--header {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .nav--header {
    font-size: 20px;
  }
}

.nav__item:hover .nav__item__container {
  display: block;
}

.nav__item--narrow {
  padding: 0 0;
}

.nav__item__link {
  color: #000000;
  text-decoration: none;
  padding: 20px 10px;
  display: inline-block;
}

.nav__item__link:hover {
  color: red;
  text-decoration: none;
}

.nav__item__link.active {
  color: red;
}

@media (max-width: 1199px) {
  .nav__item__link {
    padding: 20px 5px;
  }
}

.nav__item__container {
  display: none;
  position: absolute;
  border-top: 1px solid #eaeaea;
  left: 0;
  right: 0;
  width: 100%;
  padding: 30px 30px;
  background-color: white;
  z-index: 999;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
}

.nav__item__container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__item__container li {
  flex-basis: 33%;
}

.nav__item__link--icon {
  color: #6d6e71;
  padding-left: 0;
  padding-right: 0;
}
