body, table, div, p {
  font-family: 'Titillium Web', Arial, sans-serif;
  font-weight: 400; }

.wrapper-fluid {
  width: 100%;
  /*@media (min-width: $screen-xlg-min) { // 1450px
        max-width: $screen-lg-max;
        padding-left: 8.5px;
        padding-right: 0;
        margin-right: auto;
        margin-left: auto;
    }*/ }

.wrapper {
  width: 100%; }
  @media (min-width: 320px) {
    .wrapper {
      max-width: 767px;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 768px) {
    .wrapper {
      max-width: 991px;
      padding-left: 24px;
      padding-right: 24px; } }
  @media (min-width: 992px) {
    .wrapper {
      max-width: 1199px;
      padding-left: 24px;
      padding-right: 24px; } }
  @media (min-width: 1200px) {
    .wrapper {
      max-width: 1410px;
      padding-left: 24px;
      padding-right: 24px; } }
  @media (min-width: 1450px) {
    .wrapper {
      max-width: 1410px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto; } }

.wrapper--header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  /*align-items: flex-end;*/ }
  @media (max-width: 767px) {
    .wrapper--header {
      align-items: center; } }

.border-test {
  border: solid 1px red; }

.logo__btn {
  display: flex;
  justify-content: space-between;
  height: 15px;
  margin-top: 5px;
  width: 100%; }

.logo__btn__item {
  width: 30px;
  vertical-align: top;
  text-align: center;
  background-color: #6d6e71; }

.logo__btn__item--active {
  background-color: red; }

.logo__btn__item > a {
  line-height: 16px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  color: white; }
  .logo__btn__item > a:hover {
    text-decoration: none; }

.menu-item {
  display: none; }
  @media (min-width: 768px) {
    .menu-item {
      display: block;
      width: 70%; } }

.menu-item__search {
  display: flex;
  justify-content: flex-end;
  font-size: 16px; }

.menu-item__search__input {
  font-size: 14px;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  min-width: 170px;
  height: 32px; }

.menu-item__search__btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 32px;
  background-color: transparent;
  color: #6d6e71;
  cursor: pointer;
  font-size: 20px;
  padding-left: 0;
  padding-right: 0; }

.menu-item__xs-search, .menu-item__xs-menu {
  display: none;
  font-size: 22px; }
  .menu-item__xs-search button, .menu-item__xs-menu button {
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent; }
  @media (max-width: 767px) {
    .menu-item__xs-search, .menu-item__xs-menu {
      display: block; } }

.nav {
  display: flex;
  justify-content: space-between;
  font-weight: 700; }
  @media (min-width: 768px) {
    .nav {
      font-size: 18px; } }
  @media (min-width: 992px) {
    .nav {
      font-size: 20px; } }
  .nav .nav-item {
    color: #000000; }
    .nav .nav-item .nav-link {
      color: #000000;
      text-decoration: none;
      padding-top: 20px; }
      @media (max-width: 991px) {
        .nav .nav-item .nav-link {
          padding-left: 5px;
          padding-right: 5px; } }
  .nav .nav-item--narrow {
    padding: 0 0; }
    .nav .nav-item--narrow .nav-link {
      padding-top: 20px;
      color: #6d6e71;
      padding-left: 0;
      padding-right: 0; }

.masthead {
  /*display: flex;
    flex-direction: row;*/
  /*max-width: 1800px;*/
  width: 100%;
  /*height: 540px;*/
  overflow: auto; }
  .masthead:before, .masthead:after {
    content: " ";
    display: table; }
  .masthead:after {
    clear: both; }

.masthead__menu {
  height: 540px;
  float: left;
  width: 195px; }

.masthead__imgs {
  height: 540px;
  float: right;
  display: inline-block;
  width: 70%; }

.masthead__imgs__img1 {
  flex-basis: 805px; }

.masthead__imgs__img2 {
  flex-basis: 401px; }

.masthead__imgs__img3 {
  flex-basis: 401px; }

