body, table, div, p {
  font-family: "Titillium Web", Arial, sans-serif;
  font-weight: 400; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.wrapper-fluid {
  width: 100%;
  /*@media (min-width: $screen-max + 1) { // 1800px
        max-width: $screen-max;
        margin-right: auto;
        margin-left: auto;
    }*/ }

.wrapper {
  width: 100%; }
  @media (min-width: 320px) {
    .wrapper {
      max-width: 767px;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 768px) {
    .wrapper {
      max-width: 991px;
      padding-left: 24px;
      padding-right: 24px; } }
  @media (min-width: 992px) {
    .wrapper {
      max-width: 1199px;
      padding-left: 24px;
      padding-right: 24px; } }
  @media (min-width: 1200px) {
    .wrapper {
      max-width: 1410px;
      padding-left: 24px;
      padding-right: 24px; } }
  @media (min-width: 1450px) {
    .wrapper {
      max-width: 1410px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto; } }

.wrapper--header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (max-width: 767px) {
    .wrapper--header {
      align-items: center; } }

.border-test {
  border: solid 1px red; }

.logo__btn {
  display: flex;
  justify-content: space-between;
  height: 15px;
  margin-top: 5px;
  width: 100%; }

.logo__btn__item {
  width: 30px;
  vertical-align: top;
  text-align: center;
  background-color: #6d6e71; }

.logo__btn__item--active {
  background-color: red; }

.logo__btn__item > a {
  line-height: 16px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  color: white; }
  .logo__btn__item > a:hover {
    text-decoration: none; }

.menu-item {
  display: none; }
  @media (min-width: 768px) {
    .menu-item {
      display: block;
      width: 70%; } }

.menu-item__search {
  display: flex;
  justify-content: flex-end;
  font-size: 16px; }

.menu-item__search__input {
  font-size: 14px;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  min-width: 170px;
  height: 32px; }

.menu-item__search__btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 32px;
  background-color: transparent;
  color: #6d6e71;
  cursor: pointer;
  font-size: 20px;
  padding-left: 0;
  padding-right: 0; }

.menu-item__xs-search, .menu-item__xs-menu {
  display: none;
  font-size: 22px; }
  .menu-item__xs-search button, .menu-item__xs-menu button {
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent; }
  @media (max-width: 767px) {
    .menu-item__xs-search, .menu-item__xs-menu {
      display: block; } }

.menu-item__nav {
  padding-top: 20px; }

.nav--header {
  display: flex;
  justify-content: space-between;
  font-weight: 700; }
  @media (min-width: 768px) {
    .nav--header {
      font-size: 18px; } }
  @media (min-width: 992px) {
    .nav--header {
      font-size: 20px; } }

.nav__item--active {
  background-color: red; }

.nav__item--narrow {
  padding: 0 0; }

.nav__item__link {
  color: #000000;
  text-decoration: none; }
  .nav__item__link:hover {
    color: red;
    text-decoration: none; }

.nav__item__link--active {
  color: red; }

.nav__item__link--icon {
  color: #6d6e71;
  padding-left: 0;
  padding-right: 0; }

.nav--masthead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px; }

.nav__item--masthead {
  display: table;
  height: 70px;
  width: 100%;
  padding-left: 25px;
  border: outset 1px #6d6e71; }

.nav__item--masthead-active {
  display: table;
  height: 70px;
  width: 100%;
  padding-left: 25px;
  background-color: red; }

.nav__item__link--masthead {
  color: white;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle; }
  .nav__item__link--masthead:hover {
    color: white;
    text-decoration: none; }

.xs-ad {
  display: none;
  background-color: #f0f0f0; }
  @media (max-width: 767px) {
    .xs-ad {
      display: block;
      text-align: center;
      padding: 10px 10px; } }

.lg-ad {
  display: none;
  background-color: #f0f0f0; }
  @media (min-width: 768px) {
    .lg-ad {
      display: block;
      text-align: center;
      padding: 30px 30px; }
      .lg-ad img {
        max-width: 970px;
        width: 100%; } }

.xs-dropdown {
  display: none;
  background-color: #323232; }
  @media (max-width: 767px) {
    .xs-dropdown {
      display: flex; } }

.xs-dropdown__title {
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px; }
  .xs-dropdown__title:hover {
    color: white; }

.xs-dropdown__btn {
  height: 20px;
  width: 20px;
  padding: 0;
  border: 0; }
  .xs-dropdown__btn i {
    color: white;
    height: 20px;
    width: 20px;
    padding: 0; }

.xs-dropdown__link {
  color: #666666;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px; }
  .xs-dropdown__link:hover {
    color: #666666; }

.xs-dropdown__link--active {
  color: white; }
  .xs-dropdown__link--active:hover {
    color: white; }

.masthead {
  width: 100%;
  overflow: auto; }
  .masthead:before, .masthead:after {
    content: " ";
    display: table; }
  .masthead:after {
    clear: both; }

.masthead__menu {
  display: none; }
  @media (min-width: 1200px) {
    .masthead__menu {
      display: block;
      background-color: #323232;
      height: 540px;
      float: left;
      width: 195px; } }

.masthead__article {
  overflow: hidden; }
  @media (min-width: 1200px) {
    .masthead__article {
      display: flex; } }

.masthead__article__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative; }
  .masthead__article__img::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5); }
  .masthead__article__img:hover::after {
    display: none; }

.masthead__article__img1 {
  width: 100%;
  height: 192px; }
  .masthead__article__img1 div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    color: white;
    z-index: 1;
    padding: 20px 20px; }
    .masthead__article__img1 div p {
      display: none; }
    .masthead__article__img1 div a {
      color: white;
      font-size: 28px;
      font-weight: 700;
      text-shadow: 0 2px 3px #000000;
      line-height: 35px; }
  @media (min-width: 768px) {
    .masthead__article__img1 {
      height: 336px;
      width: 100%;
      position: relative; }
      .masthead__article__img1 div {
        padding: 40px 40px; }
        .masthead__article__img1 div p {
          display: block; }
        .masthead__article__img1 div a {
          color: white;
          font-size: 44px;
          font-weight: 700;
          text-shadow: 0 2px 3px #000000;
          line-height: 56px; } }
  @media (min-width: 1200px) {
    .masthead__article__img1 {
      height: 540px;
      flex-basis: 50.15576323987539%; }
      .masthead__article__img1 div {
        padding: 40px 40px; }
        .masthead__article__img1 div p {
          display: block; }
        .masthead__article__img1 div a {
          color: white;
          font-size: 50px;
          font-weight: 700;
          text-shadow: 0 2px 3px #000000;
          line-height: 56px; } }

.masthead__article__img2,
.masthead__article__img3 {
  width: 100%;
  height: 192px; }
  .masthead__article__img2 div,
  .masthead__article__img3 div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    color: white;
    z-index: 1;
    padding: 20px 20px; }
    .masthead__article__img2 div p,
    .masthead__article__img3 div p {
      display: none; }
    .masthead__article__img2 div a,
    .masthead__article__img3 div a {
      color: white;
      font-size: 28px;
      font-weight: 700;
      text-shadow: 0 2px 3px #000000;
      line-height: 35px; }
  @media (min-width: 768px) {
    .masthead__article__img2,
    .masthead__article__img3 {
      float: left;
      height: 230px;
      width: 50%;
      position: relative; }
      .masthead__article__img2 div,
      .masthead__article__img3 div {
        padding: 40px 40px; }
        .masthead__article__img2 div p,
        .masthead__article__img3 div p {
          display: block; }
        .masthead__article__img2 div a,
        .masthead__article__img3 div a {
          color: white;
          font-size: 28px;
          font-weight: 700;
          text-shadow: 0 2px 3px #000000;
          line-height: 38px; } }
  @media (min-width: 1200px) {
    .masthead__article__img2,
    .masthead__article__img3 {
      height: 540px;
      flex-basis: 24.92211838006231%; }
      .masthead__article__img2 div,
      .masthead__article__img3 div {
        padding: 40px 40px; }
        .masthead__article__img2 div p,
        .masthead__article__img3 div p {
          display: block; }
        .masthead__article__img2 div a,
        .masthead__article__img3 div a {
          color: white;
          font-size: 32px;
          font-weight: 700;
          text-shadow: 0 2px 3px #000000;
          line-height: 38px; } }

.masthead__article__label {
  color: white;
  font-family: NanumGothic, Arial, sans-serif;
  background-color: #000000;
  padding: 0 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.masthead__article__label1 {
  background-color: #6363a8; }

.masthead__article__label2 {
  background-color: #9c855c; }

.masthead__article__label3 {
  background-color: #4c9385; }

.latest-profile {
  padding-top: 50px;
  text-align: center; }

.latest-profile__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center; }
  @media (min-width: 1200px) {
    .latest-profile__title {
      font-size: 28px; } }

.latest-profile__contents {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 1199px) {
    .latest-profile__contents {
      max-width: 935px;
      margin: 0 auto;
      margin-top: 20px; } }
  @media (max-width: 767px) {
    .latest-profile__contents {
      max-width: 445px;
      margin: 0 auto;
      margin-top: 20px; } }

.latest-profile__item {
  flex-basis: 100%;
  height: 396px;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .latest-profile__item {
      flex-basis: 47.91666666666667%; } }
  @media (min-width: 1200px) {
    .latest-profile__item {
      flex-basis: 23.40425531914894%; } }

.latest-profile__item__img {
  position: relative;
  overflow: hidden;
  width: 100%; }

.latest-profile__item__passage {
  position: relative;
  width: 94%;
  margin-top: -25px;
  left: 3%;
  background-color: white;
  padding: 20px 20px;
  min-height: 100px; }
  .latest-profile__item__passage a {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px; }
    @media (min-width: 1200px) {
      .latest-profile__item__passage a {
        font-size: 26px;
        line-height: 32px; } }
  .latest-profile__item__passage span {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #888888; }
    @media (min-width: 1200px) {
      .latest-profile__item__passage span {
        font-size: 18px;
        line-height: 24px; } }

.latest-news {
  width: 100%; }
  .latest-news:before, .latest-news:after {
    content: " ";
    display: table; }
  .latest-news:after {
    clear: both; }

.latest-news-left {
  max-width: 100%;
  width: 100%;
  float: left; }
  @media (min-width: 1200px) {
    .latest-news-left {
      max-width: 69%; } }

.latest-news__title {
  font-size: 24px;
  font-weight: 700; }
  @media (min-width: 1200px) {
    .latest-news__title {
      font-size: 28px; } }

.latest-news__item {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (max-width: 767px) {
    .latest-news__item {
      display: block;
      border-bottom: solid #dfdfdf 1px; } }

.latest-news__item__img {
  display: none;
  margin-right: 20px; }
  @media (min-width: 768px) {
    .latest-news__item__img {
      display: block; } }

.latest-news__item__passage {
  max-width: 100%; }
  @media (min-width: 768px) {
    .latest-news__item__passage {
      max-width: 81%; } }
  .latest-news__item__passage p {
    margin-bottom: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #888888; }
  .latest-news__item__passage a {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px; }
    @media (min-width: 1200px) {
      .latest-news__item__passage a {
        font-size: 26px;
        line-height: 32px; } }
  .latest-news__item__passage span {
    color: #4fafd0; }
  .latest-news__item__passage .details {
    display: none; }
    @media (min-width: 768px) {
      .latest-news__item__passage .details {
        display: block; } }

.latest-news-right {
  display: none; }
  @media (min-width: 1200px) {
    .latest-news-right {
      display: block;
      text-align: center;
      width: 330px;
      float: right; } }

.magazine {
  background-color: #ebf1f1;
  /*height: 296px;*/
  display: flex;
  flex-direction: row;
  justify-content: center; }

.magazine-left {
  text-align: right;
  height: 250px;
  /*flex-basis: 20%;*/
  padding: 30px 0; }
  @media (min-width: 768px) {
    .magazine-left {
      height: 296px;
      padding: 50px 0; } }
  @media (max-width: 767px) {
    .magazine-left img {
      width: 72px; } }

.magazine-right {
  height: 250px;
  flex-basis: 50%;
  padding: 30px 0;
  padding-left: 40px; }
  @media (min-width: 768px) {
    .magazine-right {
      height: 296px;
      padding: 50px 0;
      padding-left: 40px; } }
  @media (max-width: 767px) {
    .magazine-right {
      padding-left: 20px;
      flex-basis: 70%; } }

.magazine__title {
  font-size: 28px;
  font-weight: 700; }

.magazine__passage {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  color: #888888; }

.magazine__btn {
  width: 150px;
  height: 40px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-width: 3px;
  border-radius: 30px;
  color: white;
  background-color: red;
  border-color: red; }
  .magazine__btn:hover {
    color: red;
    background-color: transparent;
    background-image: none;
    border-color: red; }

