@import "partials/_variables.scss";
@import "partials/_mixins.scss";
@import "partials/_common.scss";
@import "partials/_header.scss";
@import "partials/_footer.scss";

.border-test {
    border: solid 1px red;
}
/*
==========================================================================
     home & newslist
==========================================================================
*/
/**
 * These rules extend `.nav {}` in _nav.scss in bootstrap.
 */
// masthead nav

.nav--masthead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: $font-2;
    font-size: 16px;
    @media (max-width: $screen-md-max) {
        flex-direction: row;
    }
}

.nav__item--masthead {
    display: table;
    height: 70px;
    width: 100%;
    padding-left: 25px;
    border: outset 1px $grey;

    &:hover {
        .nav__item__container {
            display: none;
        }
    }

    &.active {
        background-color: $red;
        border: outset 1px $red;
    }
    @media (max-width: $screen-md-max) {
        text-align: center;
        padding-left: 0;
        height: 50px;
        width: 33.33333333333333%;
    }
}

.nav__item__link--masthead {
    color: $white;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;

    &:hover {
        color: $white;
        text-decoration: none;
    }
    @media (max-width: $screen-md-max) {
        padding: 0;
    }
}
// mobile dropdown

.xs-dropdown {
    display: none;
    background-color: $dark-grey;
    @media (max-width: $screen-xs-max) {
        display: flex;
    }
}

.xs-dropdown__title {
    color: $white;
    font-family: $font-2;
    font-size: 16px;

    &:hover {
        color: $white;
    }
}

.xs-dropdown__btn {
    height: 20px;
    width: 20px;
    padding: 0;
    border: 0;

    i {
        color: $white;
        height: 20px;
        width: 20px;
        padding: 0;
    }
}

.xs-dropdown__link {
    color: $dove-gray;
    font-family: $font-2;
    font-size: 13px;

    &:hover {
        color: $dove-gray;
    }

    &.active {
        color: $white;

        &:hover {
            color: $white;
        }
    }
}
// masthead

.masthead {
    width: 100%;
    @include clearfix;
}

.masthead__menu {
    display: none;
    background-color: $dark-grey;
    @media (min-width: $screen-sm-min) {
        display: block;
    }
    @media (min-width: $screen-lg-min) {
        display: block;
        float: left;
        height: 540px;
        width: 195px;
    }
}

.masthead__article {
    display: none;

    &.active {
        display: block;
        @media (min-width: $screen-lg-min) {
            display: flex;
        }
    }
}

.masthead-title {
    color: $white;
    font-size: 28px;
    font-weight: $bold;
    text-shadow: 0 2px 3px $black;
    line-height: $default-line-height;

    &:hover {
        color: $white;
    }
}
// font-size (lg->sm->xs) : 50 -> 44 -> 28

.masthead-title--1 {
    @media (min-width: $screen-sm-min) {
        font-size: 44px;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 50px;
    }
}
// font-size (lg->sm->xs) : 32 -> 28 -> 28

.masthead-title--2 {
    @media (min-width: $screen-lg-min) {
        font-size: 32px;
    }
}

.masthead__article__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    width: 100%;
    height: 192px;

    div {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        color: $white;
        z-index: 1;
        padding: 20px;

        p {
            display: none;
        }
    }
    // shade
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
    }
    // off shade
    &:hover::after {
        display: none;
    }
}

.masthead__article__img--1 {
    @media (min-width: $screen-sm-min) {
        height: 336px;
        width: 100%;
        position: relative;

        div {
            padding: 40px;

            p {
                display: block;
            }
        }
    }
    @media (min-width: $screen-lg-min) {
        height: 540px;
        flex-basis: 50.15576323987539%;
    }
}

.masthead__article__img--2 {
    @media (min-width: $screen-sm-min) {
        float: left;
        height: 230px;
        width: 50%;
        position: relative;

        div {
            padding: 40px;

            p {
                display: block;
            }
        }
    }
    @media (min-width: $screen-lg-min) {
        height: 540px;
        flex-basis: 24.92211838006231%;
    }
}

.profile {
    @extend .mb-60-30-20;
    padding-top: 20px;
    text-align: center;
}

.profile__list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: $screen-lg - 1) {
        max-width: 935px;
        margin: 20px auto 0;
    }
    @media (max-width: $screen-sm - 1) {
        max-width: 445px;
        margin: 20px auto 0;
    }
}

.profile__list__item {
    flex-basis: 100%;
    height: 396px;
    margin-bottom: 40px;
    @media (min-width: $screen-sm-min) {
        flex-basis: 47.91666666666667%;
        margin-bottom: 50px;
    }
    @media (min-width: $screen-lg-min) {
        flex-basis: 23.40425531914894%;
    }
}

.profile__list__item__img {
    position: relative;
    width: 100%;
    padding-top: 60%;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.profile__list__item__passage {
    position: relative;
    width: 94%;
    margin-top: -25px;
    left: 3%;
    background-color: $white;
    padding: 20px;
    min-height: 100px;
    text-align: left;
}

.article-list__head {
    width: 100%;
    max-width: 930px;
    margin-bottom: 0;
    border-bottom: solid $bar-color 1px;
    @media (min-width: $screen-sm-min) {
        margin-bottom: 30px;
    }
}

.article-list__head__img {
    max-height: 560px;
    overflow: hidden;
    position: relative;
    padding-top: 60%;
    width: 100%;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.article-list__head__passage {
    position: initial;
    width: 100%;
    background-color: $white;
    min-height: 100px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 5px;

    span {
        color: #4fafd0;
    }
    @media (min-width: $screen-sm-min) {
        padding: 30px;
        position: relative;
        width: 94%;
        margin-top: -115px;
        left: 3%;
    }
    @media (min-width: $screen-lg-min) {
        padding: 30px 50px;
    }
}

.article-list {
    position: relative;
    width: 100%;
    padding: 0;
    @include clearfix;
}

.article-list-left {
    max-width: 100%;
    width: 100%;
    float: left;
    @media (min-width: $screen-lg-min) {
        max-width: 930px;
    }
    @media (max-width: $screen-sm - 1) {
        .article-list__item + .article-list__item {
            border-top: solid $bar-color 1px;
        }
    }

    &.underline {
        .list-underline + .list-underline {
            border-top: solid $bar-color 1px;
        }
    }
}

.article-list-right {
    display: none;
    @media (min-width: 1325px) {
        display: block;
        text-align: center;
        width: 330px;
        float: right;
    }
    /*@media (min-width: $screen-lg-min) {
        display: block;
        text-align: center;
        width: 330px;
        float: right;
    }*/
}

.article-list__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px 0;
    @media (max-width: $screen-sm - 1) {
        display: block;
        padding-top: 20px;
        padding-bottom: 5px;
    }
}

.article-list__item__img {
    display: none;
    margin-right: 20px;

    img {
        width: 100%;
        height: 100%;
    }
    @media (min-width: $screen-sm-min) {
        display: block;
        flex-basis: 160px;
        width: 160px;
        height: 96px;
    }
    @media (min-width: $screen-lg-min) {
        display: block;
        flex-basis: 200px;
        width: 200px;
        height: 122px;
    }
}

.article-list__item__passage {
    max-width: 100%;
    @media (min-width: $screen-sm-min) {
        max-width: 75%;
    }

    span {
        color: #4fafd0;
    }
}

.article-list__item-btn {
    padding: 0;

    button {
        width: 100%;
        font-family: $font-2;
        font-size: 16px;
        color: $white;
        background-color: #d9d9d9;
        line-height: $default-line-height;
        padding: 20px 0;
        border: 0;
        @include rounded(0);
        @media (max-width: $screen-sm-max) {
            padding: 15px 0;
        }
    }

    button:hover {
        background-color: $dark-grey;
    }
    @media (min-width: $screen-sm-min) {
        padding-top: 20px;
    }
    @media (min-width: $screen-lg-min) {
        padding-bottom: 45px;
    }
}

.magazine {
    background-color: #ebf1f1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.magazine-left {
    text-align: right;
    height: 250px;
    padding: 30px 0;
    @media (min-width: $screen-sm-min) {
        height: 296px;
        padding: 50px 0;
    }

    img {
        width: 142px;
        height: 190px;
        @media (max-width: $screen-xs-max) {
            width: 72px;
            height: 96px;
        }
    }
}

.magazine-right {
    height: 250px;
    flex-basis: 50%;
    padding: 30px 0 30px 40px;
    @media (max-width: $screen-xs-max) {
        padding-left: 20px;
        flex-basis: 70%;
    }
    @media (min-width: $screen-sm-min) {
        flex-basis: 40%;
        height: 296px;
        padding: 50px 0 50px 40px;
    }
}

.top-videos {
    margin: 20px 0;
    flex-basis: 100%;
    display: block;
    border-bottom: solid $bar-color 1px;
    border-right: 0;
    padding-right: 0;
    @media (min-width: $screen-sm-min) {
        margin: 30px 0;
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    @media (min-width: $screen-lg-min) {
        margin: 40px 0;
        flex-basis: 37%;
        display: block;
        border-bottom: 0;
        border-right: solid $bar-color 1px;
        padding-right: 50px;
    }
}

.top-videos__part1 {
    flex-basis: 100%;
    padding-bottom: 30px;
    @media (min-width: $screen-sm-min) {
        flex-basis: 48%;
    }
    @media (min-width: $screen-lg-min) {
        flex-basis: 100%;
        max-width: 450px;
    }
}

.top-videos__part1__img {
    position: relative;
    width: 100%;
    padding-top: 56.44444444444444%;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.top-videos__part2 {
    flex-basis: 100%;
    margin-top: 0;
    padding: 0;
    @media (min-width: $screen-sm-min) {
        flex-basis: 48%;
        margin-top: 44px;
    }
    @media (min-width: $screen-lg-min) {
        flex-basis: 100%;
        margin-top: 0;
        max-width: 450px;
    }
}

.top-videos__part2__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;

    p {
        flex-basis: 48%;
    }
}

.top-videos__part2__item__img {
    flex-basis: 50%;
    text-align: right;
    position: relative;
    padding-top: 28.3%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    @media (min-width: $screen-sm-min) {
        flex-basis: 45%;
        padding-top: 25.445%;
    }
    @media (min-width: $screen-lg-min) {
        flex-basis: 48%;
        padding-top: 27.14%;
    }
}

.industry-poll {
    margin: 25px 0;
    flex-basis: 57%;

    @media (min-width: $screen-lg-min) {
        margin: 40px 0;
    }
}

.industry-news {
    padding-bottom: 25px;
    border-bottom: solid $bar-color 1px;
    @media (min-width: $screen-lg-min) {
        padding-bottom: 40px;
    }
}

.industry-news__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    img {
        width: 120px;
        height: 72px;
    }
    @media (min-width: $screen-sm-min) {
        flex-direction: row;
    }
}

.poll {
    margin-top: 25px;
}


.hr-jobs {
    margin-top: 25px;
    //padding: 40px 0;
}

.hr-jobs__item {
    display: block;
    justify-content: flex-start;
    @media (min-width: $screen-sm-min) {
        display: flex;
        flex-direction: row;
    }
}

.hr-jobs__item__part {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        text-indent: -20px;
        padding-left: 20px;
    }

    li::before {
        content: "•";
        color: $grey;
        margin-right: 10px;
    }

    p {
        margin: 10px 20px 30px;
    }
    @media (min-width: $screen-sm-min) {
        flex-basis: 50%;
    }
}
/*
==========================================================================
     news detail
==========================================================================
*/
/**
 * These rules extend `.wrapper {}` in _common.scss.
 */

.wrapper--detail-img {
    max-width: 930px;
    text-align: center;
}
/**
 * These rules extend `.wrapper {}` in _common.scss.
 */
.wrapper--detail {
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: $screen-sm-min) {
        max-width: 595px;
    }
    @media (min-width: $screen-lg-min) {
        max-width: 690px;
    }

    p {
        line-height: $line-height-3;
        margin-bottom: 30px;
        @media (min-width: $screen-sm-min) {
            margin-bottom: 35px;
        }
        @media (min-width: $screen-lg-min) {
            margin-bottom: 40px;
        }
    }

    a {
        color: $link-color;
    }

    & > .font2-22-20C-18 {
        font-weight: $light;
    }
}
/**
 * These rules extend `.wrapper {}` in _common.scss.
 */

.wrapper--detail-title {
    padding-bottom: 20px;
    @media (min-width: $screen-sm-min) {
        padding-bottom: 40px;
    }
    @media (min-width: $screen-lg-min) {
        padding-bottom: 45px;
    }
}

.article-detail__img {
    @extend .mb-45-30-25;
    position: relative;
    width: 100%;
    padding-top: 60%;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.related-story {
    @extend .font2-22-20C-18;
    @extend .mb-45-30-25;
    list-style: none;
    padding: 0;

    li {
        padding: 0;
        line-height: 150%;
    }

    li::before {
        content: "";
    }

    a {
        color: #2a7aff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}
// free newsletter

.newsletter {
    @extend .mb-45-30-25;
    width: 100%;
    padding: 35px 30px;
    background-color: #f8f8f8;
}

.newsletter__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
        margin-top: 10px;
    }
}

.newsletter__item__input {
    flex-basis: 100%;

    input {
        @include rounded(0);
        font-family: $font-2;
        font-size: 16px;
        color: $bar-color;
    }
    @media (min-width: $screen-sm-min) {
        flex-basis: 70%;
    }
}

.newsletter__item__btn {
    flex-basis: 100%;

    button {
        width: 100%;
    }
    @media (min-width: $screen-sm-min) {
        flex-basis: 25%;
    }
}
// recent articles & video / most read articles

.article-video {
    flex-basis: 930px;
    margin-bottom: 25px;
    margin-right: 0;
    @media (min-width: $screen-sm-min) {
        margin-bottom: 30px;
    }
    @media (min-width: $screen-lg-min) {
        margin-right: 30px;
    }
}

.article-video__list {
    display: block;
    @media (min-width: $screen-sm-min) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.article-video__list__item {
    // 290 / 930 * 100
    flex-basis: 31.18279569892473%;
    text-align: left;
    @media (min-width: $screen-sm-min) {
        text-align: center;
    }
}

.article-video__list__item__img {
    position: relative;
    width: 100%;
    padding-top: 60%;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.article-video__list__item__passage {
    position: initial;
    width: 100%;
    padding: 12px 0;
    @media (min-width: $screen-sm-min) {
        padding: 15px 0;
    }
    @media (min-width: $screen-lg-min) {
        position: relative;
        width: 94%;
        margin-top: -25px;
        left: 3%;
        background-color: $white;
        padding: 20px;
        min-height: 100px;
    }
}

.most-read-article {
    @extend .mb-45-30-25;
    flex-basis: 330px;
}

.most-read-article__item {
    @extend .underline-1;
    margin-bottom: 15px;

    span {
        color: #4fafd0;
    }
}
/*
==========================================================================
     authors_list & authors_newslist
==========================================================================
*/

.author-list {
    @extend .article-list;
}

.author-list-right-ad {
    @extend .article-list-right;
}

.author-list-left {
    @extend .article-list-left;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.author-list__item {
    position: relative;
    flex-basis: 100%;
    height: 190px;
    margin-bottom: 45px;
    @media (min-width: $screen-sm-min) {
        flex-basis: 50%;
        height: 200px;
        margin-bottom: 45px;
    }
    @media (min-width: $screen-lg-min) {
        flex-basis: 33.33333%;
        height: 220px;
        margin-bottom: 45px;
    }
}

.author-list__item__img {
    position: relative;
    width: 140px;
    height: 140px;
    padding-top: 15%;
    margin: 0 auto;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
    }
    @media (min-width: $screen-sm-min) {
        padding-top: 25%;
    }
    @media (min-width: $screen-lg-min) {
        width: 160px;
        height: 160px;
        padding-top: 45%;
    }
}

.author-list__item__passage {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.author-list__item-btn {
    @extend .article-list__item-btn;
    width: 100%;
}

.author-header {
    display: table;
    width: 100%;
    padding: 20px 0;
    border-top: solid 2px $dark-grey;
    border-bottom: solid 2px $dark-grey;
    margin-bottom: 15px;
    @media (min-width: $screen-sm-min) {
        padding: 30px 0;
        margin-bottom: 20px;
    }
    @media (min-width: $screen-lg-min) {
        padding: 50px 0;
        margin-bottom: 25px;
    }
}

.author-header__img {
    display: block;
    vertical-align: middle;
    @media (min-width: $screen-sm-min) {
        display: table-cell;
    }

    div {
        position: relative;
        width: 140px;
        height: 140px;
        padding-top: 15%;
        margin: 0 auto;
        @media (min-width: $screen-lg-min) {
            width: 160px;
            height: 160px;
        }
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
    }
}

.author-header__passage {
    display: block;
    vertical-align: middle;
    height: 100%;
    padding-top: 20px;
    @media (min-width: $screen-sm-min) {
        padding-top: 0;
        padding-left: 30px;
        display: table-cell;
    }

    a {
        color: $dark-grey;
    }
}

.article-list__item__img-2 {
    @extend .article-list__item__img;
    @media (min-width: $screen-lg-min) {
        display: block;
        flex-basis: 160px;
        width: 160px;
        height: 96px;
    }
}
/*
==========================================================================
     contact us
==========================================================================
*/
/*
==========================================================================
     jobs list
==========================================================================
*/

.job-list-item {
    padding: 30px 0;
    @media (min-width: $screen-sm-min) {
        padding: 35px 0;
    }
    @media (min-width: $screen-lg-min) {
        padding: 45px 0;
    }
}
/*
==========================================================================
     people
==========================================================================
*/

.people-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;

    & > li {
        flex-basis: 100%;
        line-height: 250%;
        display: list-item;
        @media (min-width: $screen-sm-min) {
            flex-basis: 50%;
        }
        @media (min-width: $screen-lg-min) {
            flex-basis: 33%;
        }
    }

    & > li::before {
        content: "•";
        margin-right: 5px;
    }
}
/*
==========================================================================
     poll
==========================================================================
*/
/*
==========================================================================
     hr events
==========================================================================
*/

.hr-event {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.hr-event__item {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 40px;
    @media (min-width: $screen-sm-min) {
        flex-basis: 48%;
        margin-bottom: 75px;
    }

    p {
        margin-bottom: 0.5em;
    }

    span:nth-child(1) {
        color: #405569;
    }

    span:nth-child(2) {
        color: #788588;
    }
}

.hr-event__item__img {
    position: relative;
    width: 200px;
    height: 120px;
    //padding-top: 30%;
    margin: 0 auto 25px;
    @media (min-width: $screen-lg-min) {
        width: 250px;
        height: 150px;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
/*
==========================================================================
     e-mag
==========================================================================
*/
.emag-header {
    display: table;
    width: 100%;
}

.emag-header__img {
    display: block;
    text-align: center;
    margin-bottom: 25px;
    @media (min-width: $screen-sm-min) {
        display: table-cell;
    }

    img {
        width: 141px;
        height: 180px;
        @media (min-width: $screen-sm-min) {
            width: 157px;
            height: 200px;
        }
        @media (min-width: $screen-lg-min) {
            width: 188px;
            height: 241px;
        }
    }
}

.emag-header__passage {
    display: block;
    padding: 0;
    vertical-align: top;
    @media (min-width: $screen-sm-min) {
        display: table-cell;
        padding-left: 40px;
    }
}

.emag-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
}

.emag-list__item {
    @extend .mb-50-40-35;
    flex-basis: 100%;
    text-align: center;
    @media (min-width: $screen-sm-min) {
        flex-basis: 48%;
        margin-right: 2%;
    }
    @media (min-width: $screen-lg-min) {
        flex-basis: 30%;
        margin-right: 3%;
    }

    p {
        margin-bottom: 0.5em;
    }
}

.emag-list__item__img {
    display: block;
    text-align: center;
    margin-bottom: 25px;

    img {
        width: 125px;
        height: 160px;
        @media (min-width: $screen-sm-min) {
            width: 142px;
            height: 181px;
        }
        @media (min-width: $screen-lg-min) {
            width: 157px;
            height: 200px;
        }
    }
}
