@import "partials/_variables.scss";
@import "partials/_mixins.scss";

body, table, div, p {
    font-family: $font1;
    font-weight: 400;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

// wrapper
.wrapper-fluid {
    width: 100%;
    min-width: $screen-xs-min;
}
// footer
.wrapper-fluid--footer {
    background-color: $bgcolor1;
    padding: 60px 0;
}

.wrapper {
    width: 100%;
    min-width: $screen-xs-min;

    @media (min-width: $screen-xs-min) { // 320px
        max-width: $screen-xs-max;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media (min-width: $screen-sm-min) { // 768px
        max-width: $screen-sm-max;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (min-width: $screen-md-min) { // 992px
        max-width: $screen-md-max;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (min-width: $screen-lg-min) { // 1200px
        max-width: $screen-lg-max;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (min-width: $screen-xlg-min) { // 1450px
        max-width: $screen-lg-max;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.wrapper--header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: $screen-xs-max) {
        align-items: center;
    }
}

.border-test {
    border: solid 1px red;
}

// header
// logo items
.logo {
}

.logo__btn {
    display: flex;
    justify-content: space-between;
    height: 15px;
    margin-top: 5px;
    width: 100%;
}

.logo__btn__item {
    width: 30px;
    vertical-align: top;
    text-align: center;
    background-color: $grey;
}

.logo__btn__item--active {
    background-color: $red;
}

.logo__btn__item > a {
    line-height: $basic-line-height;
    font-family: $font2;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    color: white;

    &:hover {
        text-decoration: none;
    }
}

// menu items
.menu-item {
    display: none;

    @media (min-width: $screen-sm-min) {
        display: block;
        width: 70%;
    }
}

.menu-item__search {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

.menu-item__search__input {
    font-size: 14px;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    min-width: 170px;
    height: 32px;
}

.menu-item__search__btn {
    @include rounded(0);
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 32px;
    background-color: transparent;
    color: $grey;
    cursor: pointer;
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
}

.menu-item__xs-search, .menu-item__xs-menu {
    display: none;
    font-size: 22px;

    button {
        border-bottom: none;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: transparent;
    }

    @media (max-width: $screen-xs-max) {
        display: block;
    }
}

.menu-item__nav {
    padding-top: 20px;
}

// nav
.nav {
}

// header nav
.nav--header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;

    @media (min-width: $screen-sm-min) {
        font-size: 18px;
    }

    @media (min-width: $screen-md-min) {
        font-size: 20px;
    }
}

.nav__item {
}

.nav__item--active {
    background-color: $red;
}

.nav__item--narrow {
    padding: 0 0;
}

.nav__item__link {
    color: $black;
    text-decoration: none;

    &:hover {
        color: $red;
        text-decoration: none;
    }
}

.nav__item__link--active {
    color: $red;
}

.nav__item__link--icon {
    color: $grey;
    padding-left: 0;
    padding-right: 0;
}

// masthead nav
.nav--masthead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: $font2;
    font-size: 16px;
}

.nav__item--masthead {
    display: table;
    height: 70px;
    width: 100%;
    padding-left: 25px;
    border: outset 1px $grey;
}

.nav__item--masthead-active {
    display: table;
    height: 70px;
    width: 100%;
    padding-left: 25px;
    background-color: $red;
}

.nav__item__link--masthead {
    color: $white;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

// mobile ad 1
.xs-ad {
    display: none;
    background-color: $bgcolor1;

    @media (max-width: $screen-xs-max) { // 768px - 1
        display: block;
        text-align: center;
        padding: 10px 10px;
    }
}

// ipad + mobile ad
.sm-ad {
    display: none;

    @media (max-width: $screen-md-max) {
        display: block;
        text-align: center;
        padding: 30px 30px;
    }

    @media (max-width: $screen-xs-max) {
        display: block;
        text-align: center;
        padding: 10px 10px;
    }
}

// pc ad 1
.lg-ad {
    display: none;
    background-color: $bgcolor1;

    @media (min-width: $screen-sm-min) { // 768px
        display: block;
        text-align: center;
        padding: 30px 30px;

        img {
            max-width: 970px;
            width: 100%
        }
    }
}

// mobile dropdown
.xs-dropdown {
    display: none;
    background-color: $dark-grey;

    @media (max-width: $screen-xs-max) { // 768px - 1
        display: flex;
    }
}

.xs-dropdown__title {
    color: $white;
    font-family: $font2;
    font-size: 16px;

    &:hover {
        color: $white;
    }
}

.xs-dropdown__btn {
    height: 20px;
    width: 20px;
    padding: 0;
    border: 0;

    i {
        color: $white;
        height: 20px;
        width: 20px;
        padding: 0;
    }
}

.xs-dropdown__link {
    color: $gray-dovegray;
    font-family: $font2;
    font-size: 13px;

    &:hover {
        color: $gray-dovegray;
    }
}

.xs-dropdown__link--active {
    color: $white;

    &:hover {
        color: $white;
    }
}


// masthead
.masthead {
    width: 100%;
    overflow: auto;
    @include clearfix;
}

.masthead__menu {
    display: none;

    @media (min-width: $screen-lg-min) { // 1200px
        display: block;
        background-color: $dark-grey;
        height: 540px;
        float: left;
        width: 195px;
    }
}

.masthead__article {
    overflow: hidden;

    @media (min-width: $screen-lg-min) { // 1200px
        display: flex;
    }
}

.masthead__article__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    // shade
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
    }
    // off shade
    &:hover::after {
        display: none;
    }
}

// font-size : 50 -> 44 -> 28
.masthead-title1 {
    color: $white;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0 2px 3px $black;
    line-height: $basic-line-height;

    &:hover {
        color: $white;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 44px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 50px;
    }
}
// font-size : 32 -> 28 -> 28
.masthead-title2 {
    color: $white;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0 2px 3px $black;
    line-height: $basic-line-height;

    &:hover {
        color: $white;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 32px;
    }
}

.masthead__article__img1 {
    width: 100%;
    height: 192px;

    div {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        color: $white;
        z-index: 1;
        padding: 20px 20px;

        p {
            display: none;
        }
    }

    @media (min-width: $screen-sm-min) { // 768px
        height: 336px;
        width: 100%;
        position: relative;

        div {
            padding: 40px 40px;

            p {
                display: block;
            }
        }
    }

    @media (min-width: $screen-lg-min) { // 1200px
        height: 540px;
        flex-basis: 50.15576323987539%;

        div {
            padding: 40px 40px;

            p {
                display: block;
            }
        }
    }
}

.masthead__article__img2,
.masthead__article__img3 {
    width: 100%;
    height: 192px;

    div {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        color: $white;
        z-index: 1;
        padding: 20px 20px;

        p {
            display: none;
        }
    }

    @media (min-width: $screen-sm-min) { // 768px
        float: left;
        height: 230px;
        width: 50%;
        position: relative;

        div {
            padding: 40px 40px;

            p {
                display: block;
            }
        }
    }

    @media (min-width: $screen-lg-min) { // 1200px
        height: 540px;
        flex-basis: 24.92211838006231%;

        div {
            padding: 40px 40px;

            p {
                display: block;
            }
        }
    }
}

.masthead__article__label {
    color: $white;
    font-family: $font2;
    background-color: $black;
    padding: 0 15px;
    @include rounded(5px);
}

.masthead__article__label1 {
    background-color: #6363a8;
}

.masthead__article__label2 {
    background-color: #9c855c;
}

.masthead__article__label3 {
    background-color: #4c9385;
}
// font-size : 28->24->22
.section-title {
    color: $black;
    font-size: 22px;
    font-weight: 700;
    line-height: $basic-line-height;

    @media (min-width: $screen-sm-min) {
        font-size: 24px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 28px;
    }
}

.section-title--center {
    text-align: center;
}



.latest-profile {
    padding-top: 50px;
    text-align: center;
}

.latest-profile__contents {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $screen-lg - 1) {
        max-width: 935px;
        margin: 0 auto;
        margin-top: 20px;
    }

    @media (max-width: $screen-sm - 1) {
        max-width: 445px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.latest-profile__item {
    flex-basis: 100%;
    height: 396px;
    margin-bottom: 50px;

    @media (min-width: $screen-sm-min) {
        flex-basis: 47.91666666666667%;
    }

    @media (min-width: $screen-lg-min) {
        flex-basis: 23.40425531914894%;
    }
}

.latest-profile__item__img {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.latest-profile__item__passage {
    position: relative;
    width: 94%;
    margin-top: -25px;
    left: 3%;
    background-color: $white;
    padding: 20px 20px;
    min-height: 100px;
    text-align: left;
}

.latest-news {
    width: 100%;
    @include clearfix;
}

.latest-news-left {
    max-width: 100%;
    width: 100%;
    float: left;

    @media (min-width: $screen-lg-min) {
        max-width: 69%;
    }
}

.latest-news__item {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 15px;
    padding-bottom: 15px;

    @media (max-width: $screen-sm - 1) {
        display: block;
        border-bottom: solid $bar-color 1px;
    }
}

.latest-news__item__img {
    display: none;
    margin-right: 20px;

    @media (min-width: $screen-sm-min) {
        display: block;
    }
}

.latest-news__item__passage {
    max-width: 100%;

    @media (min-width: $screen-sm-min) {
        max-width: 81%;
    }

    span {
        color: #4fafd0;
    }

}

.hide-from-xs {
    display: none;

    @media (min-width: $screen-sm-min) {
        display: block;
    }
}

.latest-news-right-ad {
    display: none;

    @media (min-width: $screen-lg-min) {
        display: block;
        text-align: center;
        width: 330px;
        float: right;
    }
}

.magazine {
    background-color: #ebf1f1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.magazine-left {
    text-align: right;
    height: 250px;
    padding: 30px 0;

    @media (min-width: $screen-sm-min) {
        height: 296px;
        padding: 50px 0;
    }

    img {
        @media (max-width: $screen-xs-max) {
            width: 72px;
        }
    }
}

.magazine-right {
    height: 250px;
    flex-basis: 50%;
    padding: 30px 0;
    padding-left: 40px;

    @media (max-width: $screen-xs-max) {
        padding-left: 20px;
        flex-basis: 70%;
    }

    @media (min-width: $screen-sm-min) {
        flex-basis: 40%;
        height: 296px;
        padding: 50px 0;
        padding-left: 40px;
    }
}

.hrd-btn-outline {
    padding: 10px 30px;
    height: 40px;
    font-size: 18px;
    line-height: 90%;
    font-weight: 700;
    border-width: 3px;
    border-radius: 30px;
    background-color: transparent;
    background-image: none;
    border-color: $black;
    color: $black;

    &:hover {
        color: $white;
        background-color: $black;
        border-color: $black;
    }
}

.hrd-btn-outline--red {
    color: $red;
    border-color: $red;

    &:hover {
        background-color: $red;
        border-color: $red;
    }
}

.hrd-btn-outline--grey {
    color: $grey;
    border-color: $grey;

    &:hover {
        background-color: $grey;
        border-color: $grey;
    }
}

.hrd-btn-inline {
    padding: 10px 30px;
    height: 40px;
    font-size: 18px;
    line-height: 90%;
    font-weight: 700;
    border-width: 3px;
    border-radius: 30px;
    color: $white;
    background-color: $black;
    border-color: $black;

    &:hover {
        color: $black;
        background-color: transparent;
        background-image: none;
    }
}

.hrd-btn-inline--red {
    background-color: $red;
    border-color: $red;

    &:hover {
        color: $red;
    }
}

.wrapper--flex {
    display: block;

    @media (min-width: $screen-lg-min) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.top-videos {
    padding: 20px 0;
    flex-basis: 100%;
    display: block;
    border-bottom: solid $bar-color 1px;

    @media (min-width: $screen-sm-min) {
        padding: 30px 0;
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    @media (min-width: $screen-lg-min) {
        padding: 40px 0;
        flex-basis: 41%;
        display: block;
        border-bottom: 0;
    }
}

.top-videos__part1 {
    flex-basis: 100%;
    padding: 0;
    border-right: 0;

    @media (min-width: $screen-sm-min) {
        flex-basis: 48%;
    }

    @media (min-width: $screen-lg-min) {
        flex-basis: 100%;
        padding-right: 50px;
        border-right: solid $bar-color 1px;
    }
}
.top-videos__part1__img {
    width: 100%;
    //max-width: 290px;

    @media (min-width: $screen-sm-min) {
        //max-width: 345px;
    }

    @media (min-width: $screen-lg-min) {
        //max-width: 450px;
    }
}
.top-videos__part2 {
    flex-basis: 100%;
    margin-top: 0;
    padding: 0;
    border-right: 0;

    @media (min-width: $screen-sm-min) {
        flex-basis: 48%;
        margin-top: 44px;
    }

    @media (min-width: $screen-lg-min) {
        flex-basis: 100%;
        margin-top: 0;
        padding-right: 50px;
        border-right: solid $bar-color 1px;
    }
}

.top-videos__part2__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        flex-basis: 50%;
    }
}

.top-videos__part2__item__img {
    flex-basis: 50%;
    text-align:right;
    img {
        max-width: 290px;
        width: 100%;
    }

    @media (min-width: $screen-sm-min) {
        flex-basis: 45%;

        img {
            max-width: 345px;
            width: 100%;
        }
    }

    @media (min-width: $screen-lg-min) {
        flex-basis: 48%;

        img {
            max-width: 450px;
            width: 100%;
        }
    }
}

.industry-hr {
    flex-basis: 55%;
}

.industry-news {
    padding: 40px 0;
    border-bottom: solid $bar-color 1px;
}

.industry-news__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    img {
        width: 120px;
    }

    @media (min-width: $screen-sm-min) {
        flex-direction: row;
    }
}

.hr-jobs {
    padding: 40px 0;
}
.hr-jobs__item {
    display: block;
    justify-content: flex-start;

    @media (min-width: $screen-sm-min) {
        display: flex;
        flex-direction: row;
    }
}
.hr-jobs__item__part {

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        text-indent: -20px;
        padding-left: 20px;
    }

    li::before {
        content: "•";
        color: $grey;
        margin-right: 10px;
    }

    p {
        margin: 0 20px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    @media (min-width: $screen-sm-min) {
        flex-basis: 50%;
    }
}



.article-label1 {
    font-family: $font2;
    color: #8f7669;
    font-size: 18px;
    font-weight: 700;
    line-height: $basic-line-height;
}
.article-label2 {
    font-family: $font2;
    color: #8f7669;
    font-size: 14px;
    font-weight: 700;
    line-height: $basic-line-height;
}
// font-size : 26->24->24
.article-title1 {
    color: $black;
    font-size: 24px;
    font-weight: 700;
    line-height: $basic-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}
// font-size : 26->24->20
.article-title2 {
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: $basic-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 24px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}
// font-size : 26->22->22
.article-title3 {
    color: $black;
    font-size: 22px;
    font-weight: 700;
    line-height: $basic-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}
// font-size : 22->18->18
.article-title4 {
    color: $black;
    font-size: 18px;
    font-weight: 700;
    line-height: $basic-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 22px;
    }
}
// font-size : 22->20->20
.article-title5 {
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: $basic-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 22px;
    }
}
// font-size : 26->26->22
.article-title5 {
    color: $black;
    font-size: 22px;
    font-weight: 700;
    line-height: $basic-line-height;

    &:hover {
        color: $black;
    }

    @media (min-width: $screen-sm-min) {
        font-size: 26px;
    }
}
// font-size : 18 -> 16 -> 16
.article-passage1 {
    font-family: $font2;
    color: $passage-color;
    font-size: 16px;
    font-weight: 400;
    line-height: $basic-line-height;

    @media (min-width: $screen-lg-min) {
        font-size: 18px;
    }
}
// font-size : 18 -> 16 -> 14
.article-passage2 {
    font-family: $font2;
    color: $passage-color;
    font-size: 14px;
    font-weight: 400;
    line-height: $basic-line-height;

    @media (min-width: $screen-sm-min) {
        font-size: 16px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 18px;
    }
}
// font-size : 16 -> 16 -> 14
.article-passage3 {
    font-family: $font2;
    color: $passage-color;
    font-size: 14px;
    font-weight: 400;
    line-height: $basic-line-height;

    @media (min-width: $screen-sm-min) {
        font-size: 16px;
    }

}

.footer-top {
    display: block;

    @media (min-width: $screen-lg-min) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.footer-top__part1 {
    @include clearfix;

    @media (min-width: $screen-lg-min) {
        flex-basis: 50%;
    }
}
.footer-top__part1__img {
    float: left;
    margin-right: 40px;
}

.footer-top__part1__passage {
    width: 70%;
    float: left;
    padding-bottom: 30px;
}

.footer-top__part1__btn {
    width: 70%;
    float: left;
}
.footer-top__part2 {
    @media (min-width: $screen-lg-min) {
        flex-basis: 30%;
    }
}
.footer-bottom {
}
.footer-bottom__part1 {
    display: block;

    @media (min-width: $screen-lg-min) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}



.footer-bottom__part2 {
}