@charset "UTF-8";
body, table, div, p {
  font-family: "Titillium Web", Arial, sans-serif;
  font-weight: 400; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.rss-color {
  color: #f59b5a; }

.wrapper-fluid {
  width: 100%;
  min-width: 320px; }

.wrapper-fluid--relative {
  position: relative; }

.wrapper-fluid--footer {
  background-color: #f0f0f0;
  padding: 30px 0; }
  @media (min-width: 1200px) {
    .wrapper-fluid--footer {
      padding: 60px 0; } }

.wrapper {
  width: 100%;
  min-width: 320px; }
  @media (min-width: 320px) {
    .wrapper {
      max-width: 767px;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 768px) {
    .wrapper {
      max-width: 991px;
      padding-left: 24px;
      padding-right: 24px; } }
  @media (min-width: 992px) {
    .wrapper {
      max-width: 1199px;
      padding-left: 24px;
      padding-right: 24px; } }
  @media (min-width: 1200px) {
    .wrapper {
      max-width: 1410px;
      padding-left: 24px;
      padding-right: 24px; } }
  @media (min-width: 1450px) {
    .wrapper {
      max-width: 1410px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto; } }

.wrapper--header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px; }
  @media (max-width: 767px) {
    .wrapper--header {
      align-items: center; } }

.menu-container {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 30px 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  -webkit-box-shadow: 0 3px 5px #000000;
  -moz-box-shadow: 0 3px 5px #000000;
  box-shadow: 0 3px 5px #000000;
  z-index: 999; }
  .menu-container div {
    width: 23%; }
  .menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0; }

.border-test {
  border: solid 1px red; }

.logo {
  padding-bottom: 20px; }

.logo__btn {
  display: flex;
  justify-content: space-between;
  height: 15px;
  margin-top: 5px;
  width: 100%; }

.logo__btn__item {
  width: 30px;
  vertical-align: top;
  text-align: center;
  background-color: #6d6e71; }

.logo__btn__item--active {
  background-color: red; }

.logo__btn__item > a {
  line-height: 120%;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  color: white; }
  .logo__btn__item > a:hover {
    text-decoration: none; }

.menu-item {
  display: none; }
  @media (min-width: 768px) {
    .menu-item {
      display: block;
      width: 70%; } }

.menu-item__search {
  display: flex;
  justify-content: flex-end;
  font-size: 16px; }

.menu-item__search__input {
  font-size: 14px;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  min-width: 170px;
  height: 32px; }

.menu-item__search__btn {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 32px;
  background-color: transparent;
  color: #6d6e71;
  cursor: pointer;
  font-size: 20px;
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.menu-item__xs-search, .menu-item__xs-menu {
  display: none;
  font-size: 22px; }
  .menu-item__xs-search button, .menu-item__xs-menu button {
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent; }
  @media (max-width: 767px) {
    .menu-item__xs-search, .menu-item__xs-menu {
      display: block; } }

.menu-item__nav {
  padding-top: 20px; }

.nav--header {
  display: flex;
  justify-content: space-between;
  font-weight: 700; }
  @media (min-width: 768px) {
    .nav--header {
      font-size: 18px; } }
  @media (min-width: 992px) {
    .nav--header {
      font-size: 20px; } }

.nav__item:hover .nav__item__container {
  display: flex; }

.nav__item--active {
  background-color: red; }

.nav__item--narrow {
  padding: 0 0; }

.nav__item__link {
  color: #000000;
  text-decoration: none;
  padding: 20px 10px;
  display: inline-block; }
  .nav__item__link:hover {
    color: red;
    text-decoration: none; }

.nav__item__container {
  display: none;
  position: absolute;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border-top: 1px solid #eaeaea;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  padding: 30px 30px;
  background-color: white;
  -webkit-box-shadow: 0 3px 5px #000000;
  -moz-box-shadow: 0 3px 5px #000000;
  box-shadow: 0 3px 5px #000000;
  z-index: 999; }
  .nav__item__container div {
    width: 23%; }
  .nav__item__container ul {
    list-style: none;
    padding: 0;
    margin: 0; }

.nav__item__link--active {
  color: red; }

.nav__item__link--icon {
  color: #6d6e71;
  padding-left: 0;
  padding-right: 0; }

.nav--masthead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px; }

.nav__item--masthead {
  display: table;
  height: 70px;
  width: 100%;
  padding-left: 25px;
  border: outset 1px #6d6e71; }

.nav__item--masthead-active {
  display: table;
  height: 70px;
  width: 100%;
  padding-left: 25px;
  background-color: red; }

.nav__item__link--masthead {
  color: white;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle; }
  .nav__item__link--masthead:hover {
    color: white;
    text-decoration: none; }

.xs-ad {
  display: none;
  background-color: #f0f0f0; }
  @media (max-width: 767px) {
    .xs-ad {
      display: block;
      text-align: center;
      padding: 10px 10px; } }

.sm-ad {
  display: none; }
  @media (max-width: 1199px) {
    .sm-ad {
      display: block;
      text-align: center;
      padding: 30px 30px; } }
  @media (max-width: 767px) {
    .sm-ad {
      display: block;
      text-align: center;
      padding: 10px 10px; } }

.lg-ad {
  display: none;
  background-color: #f0f0f0; }
  @media (min-width: 768px) {
    .lg-ad {
      display: block;
      text-align: center;
      padding: 30px 30px; }
      .lg-ad img {
        max-width: 970px;
        width: 100%; } }

.xs-dropdown {
  display: none;
  background-color: #323232; }
  @media (max-width: 767px) {
    .xs-dropdown {
      display: flex; } }

.xs-dropdown__title {
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px; }
  .xs-dropdown__title:hover {
    color: white; }

.xs-dropdown__btn {
  height: 20px;
  width: 20px;
  padding: 0;
  border: 0; }
  .xs-dropdown__btn i {
    color: white;
    height: 20px;
    width: 20px;
    padding: 0; }

.xs-dropdown__link {
  color: #666666;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px; }
  .xs-dropdown__link:hover {
    color: #666666; }

.xs-dropdown__link--active {
  color: white; }
  .xs-dropdown__link--active:hover {
    color: white; }

.masthead {
  width: 100%;
  overflow: auto; }
  .masthead:before, .masthead:after {
    content: " ";
    display: table; }
  .masthead:after {
    clear: both; }

.masthead__menu {
  display: none; }
  @media (min-width: 1200px) {
    .masthead__menu {
      display: block;
      background-color: #323232;
      height: 540px;
      float: left;
      width: 195px; } }

.masthead__article {
  overflow: hidden; }
  @media (min-width: 1200px) {
    .masthead__article {
      display: flex; } }

.masthead__article__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative; }
  .masthead__article__img::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5); }
  .masthead__article__img:hover::after {
    display: none; }

.masthead-title1 {
  color: white;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 0 2px 3px #000000;
  line-height: 120%; }
  .masthead-title1:hover {
    color: white; }
  @media (min-width: 768px) {
    .masthead-title1 {
      font-size: 44px; } }
  @media (min-width: 1200px) {
    .masthead-title1 {
      font-size: 50px; } }

.masthead-title2 {
  color: white;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 0 2px 3px #000000;
  line-height: 120%; }
  .masthead-title2:hover {
    color: white; }
  @media (min-width: 1200px) {
    .masthead-title2 {
      font-size: 32px; } }

.masthead__article__img1 {
  width: 100%;
  height: 192px; }
  .masthead__article__img1 div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    color: white;
    z-index: 1;
    padding: 20px 20px; }
    .masthead__article__img1 div p {
      display: none; }
  @media (min-width: 768px) {
    .masthead__article__img1 {
      height: 336px;
      width: 100%;
      position: relative; }
      .masthead__article__img1 div {
        padding: 40px 40px; }
        .masthead__article__img1 div p {
          display: block; } }
  @media (min-width: 1200px) {
    .masthead__article__img1 {
      height: 540px;
      flex-basis: 50.15576323987539%; }
      .masthead__article__img1 div {
        padding: 40px 40px; }
        .masthead__article__img1 div p {
          display: block; } }

.masthead__article__img2,
.masthead__article__img3 {
  width: 100%;
  height: 192px; }
  .masthead__article__img2 div,
  .masthead__article__img3 div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    color: white;
    z-index: 1;
    padding: 20px 20px; }
    .masthead__article__img2 div p,
    .masthead__article__img3 div p {
      display: none; }
  @media (min-width: 768px) {
    .masthead__article__img2,
    .masthead__article__img3 {
      float: left;
      height: 230px;
      width: 50%;
      position: relative; }
      .masthead__article__img2 div,
      .masthead__article__img3 div {
        padding: 40px 40px; }
        .masthead__article__img2 div p,
        .masthead__article__img3 div p {
          display: block; } }
  @media (min-width: 1200px) {
    .masthead__article__img2,
    .masthead__article__img3 {
      height: 540px;
      flex-basis: 24.92211838006231%; }
      .masthead__article__img2 div,
      .masthead__article__img3 div {
        padding: 40px 40px; }
        .masthead__article__img2 div p,
        .masthead__article__img3 div p {
          display: block; } }

.masthead__article__label {
  color: white;
  font-family: Roboto, Arial, sans-serif;
  background-color: #000000;
  padding: 0 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.masthead__article__label1 {
  background-color: #6363a8; }

.masthead__article__label2 {
  background-color: #9c855c; }

.masthead__article__label3 {
  background-color: #4c9385; }

.section-title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%; }
  @media (min-width: 768px) {
    .section-title {
      font-size: 24px; } }
  @media (min-width: 1200px) {
    .section-title {
      font-size: 28px; } }

.section-title--center {
  text-align: center; }

.latest-profile {
  padding-top: 50px;
  text-align: center; }

.latest-profile__contents {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 1199px) {
    .latest-profile__contents {
      max-width: 935px;
      margin: 0 auto;
      margin-top: 20px; } }
  @media (max-width: 767px) {
    .latest-profile__contents {
      max-width: 445px;
      margin: 0 auto;
      margin-top: 20px; } }

.latest-profile__item {
  flex-basis: 100%;
  height: 396px;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .latest-profile__item {
      flex-basis: 47.91666666666667%; } }
  @media (min-width: 1200px) {
    .latest-profile__item {
      flex-basis: 23.40425531914894%; } }

.latest-profile__item__img {
  position: relative;
  overflow: hidden;
  width: 100%; }

.latest-profile__item__passage {
  position: relative;
  width: 94%;
  margin-top: -25px;
  left: 3%;
  background-color: white;
  padding: 20px 20px;
  min-height: 100px;
  text-align: left; }

.latest-news {
  width: 100%; }
  .latest-news:before, .latest-news:after {
    content: " ";
    display: table; }
  .latest-news:after {
    clear: both; }

.latest-news-left {
  max-width: 100%;
  width: 100%;
  float: left; }
  @media (min-width: 1200px) {
    .latest-news-left {
      max-width: 69%; } }

.latest-news__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (max-width: 767px) {
    .latest-news__item {
      display: block;
      border-bottom: solid #dfdfdf 1px; } }

.latest-news__item__img {
  display: none;
  margin-right: 20px; }
  @media (min-width: 768px) {
    .latest-news__item__img {
      display: block; } }

.latest-news__item__passage {
  max-width: 100%; }
  @media (min-width: 768px) {
    .latest-news__item__passage {
      max-width: 81%; } }
  .latest-news__item__passage span {
    color: #4fafd0; }

.hide-from-xs {
  display: none; }
  @media (min-width: 768px) {
    .hide-from-xs {
      display: block; } }

.latest-news-right-ad {
  display: none; }
  @media (min-width: 1200px) {
    .latest-news-right-ad {
      display: block;
      text-align: center;
      width: 330px;
      float: right; } }

.magazine {
  background-color: #ebf1f1;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.magazine-left {
  text-align: right;
  height: 250px;
  padding: 30px 0; }
  @media (min-width: 768px) {
    .magazine-left {
      height: 296px;
      padding: 50px 0; } }
  @media (max-width: 767px) {
    .magazine-left img {
      width: 72px; } }

.magazine-right {
  height: 250px;
  flex-basis: 50%;
  padding: 30px 0;
  padding-left: 40px; }
  @media (max-width: 767px) {
    .magazine-right {
      padding-left: 20px;
      flex-basis: 70%; } }
  @media (min-width: 768px) {
    .magazine-right {
      flex-basis: 40%;
      height: 296px;
      padding: 50px 0;
      padding-left: 40px; } }

.hrd-btn-outline {
  padding: 10px 30px;
  height: 40px;
  font-size: 18px;
  line-height: 90%;
  font-weight: 700;
  border-width: 3px;
  border-radius: 30px;
  background-color: transparent;
  background-image: none;
  border-color: #000000;
  color: #000000; }
  .hrd-btn-outline:hover {
    color: white;
    background-color: #000000;
    border-color: #000000; }
  @media (max-width: 767px) {
    .hrd-btn-outline {
      padding: 10px 15px;
      font-size: 14px;
      border-width: 2px; } }

.hrd-btn-outline--red {
  color: red;
  border-color: red; }
  .hrd-btn-outline--red:hover {
    background-color: red;
    border-color: red; }

.hrd-btn-outline--grey {
  color: #6d6e71;
  border-color: #6d6e71; }
  .hrd-btn-outline--grey:hover {
    background-color: #6d6e71;
    border-color: #6d6e71; }

.hrd-btn-inline {
  padding: 10px 30px;
  height: 40px;
  font-size: 18px;
  line-height: 90%;
  font-weight: 700;
  border-width: 3px;
  border-radius: 30px;
  color: white;
  background-color: #000000;
  border-color: #000000; }
  .hrd-btn-inline:hover {
    color: #000000;
    background-color: transparent;
    background-image: none; }
  @media (max-width: 767px) {
    .hrd-btn-inline {
      padding: 10px 15px;
      font-size: 14px;
      border-width: 2px; } }

.hrd-btn-inline--red {
  background-color: red;
  border-color: red; }
  .hrd-btn-inline--red:hover {
    color: red; }

.hrd-btn-go-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
  border: none;
  background-color: red;
  opacity: 0.5;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 5px 12px;
  border-radius: 50%;
  cursor: pointer; }

.wrapper--video-news-job {
  display: block; }
  @media (min-width: 1200px) {
    .wrapper--video-news-job {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }

.top-videos {
  padding: 20px 0;
  flex-basis: 100%;
  display: block;
  border-bottom: solid #dfdfdf 1px; }
  @media (min-width: 768px) {
    .top-videos {
      padding: 30px 0;
      flex-basis: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }
  @media (min-width: 1200px) {
    .top-videos {
      padding: 40px 0;
      flex-basis: 41%;
      display: block;
      border-bottom: 0; } }

.top-videos__part1 {
  flex-basis: 100%;
  padding: 0;
  border-right: 0; }
  @media (min-width: 768px) {
    .top-videos__part1 {
      flex-basis: 48%; } }
  @media (min-width: 1200px) {
    .top-videos__part1 {
      flex-basis: 100%;
      padding-right: 50px;
      border-right: solid #dfdfdf 1px; } }

.top-videos__part1__img {
  width: 100%; }

.top-videos__part2 {
  flex-basis: 100%;
  margin-top: 0;
  padding: 0;
  border-right: 0; }
  @media (min-width: 768px) {
    .top-videos__part2 {
      flex-basis: 48%;
      margin-top: 44px; } }
  @media (min-width: 1200px) {
    .top-videos__part2 {
      flex-basis: 100%;
      margin-top: 0;
      padding-right: 50px;
      border-right: solid #dfdfdf 1px; } }

.top-videos__part2__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .top-videos__part2__item p {
    flex-basis: 50%; }

.top-videos__part2__item__img {
  flex-basis: 50%;
  text-align: right; }
  .top-videos__part2__item__img img {
    max-width: 290px;
    width: 100%; }
  @media (min-width: 768px) {
    .top-videos__part2__item__img {
      flex-basis: 45%; }
      .top-videos__part2__item__img img {
        max-width: 345px;
        width: 100%; } }
  @media (min-width: 1200px) {
    .top-videos__part2__item__img {
      flex-basis: 48%; }
      .top-videos__part2__item__img img {
        max-width: 450px;
        width: 100%; } }

.industry-hr {
  flex-basis: 55%; }

.industry-news {
  padding: 40px 0;
  border-bottom: solid #dfdfdf 1px; }

.industry-news__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .industry-news__item img {
    width: 120px; }
  @media (min-width: 768px) {
    .industry-news__item {
      flex-direction: row; } }

.hr-jobs {
  padding: 40px 0; }

.hr-jobs__item {
  display: block;
  justify-content: flex-start; }
  @media (min-width: 768px) {
    .hr-jobs__item {
      display: flex;
      flex-direction: row; } }

.hr-jobs__item__part ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.hr-jobs__item__part li {
  text-indent: -20px;
  padding-left: 20px; }

.hr-jobs__item__part li::before {
  content: "•";
  color: #6d6e71;
  margin-right: 10px; }

.hr-jobs__item__part p {
  margin: 0 20px;
  margin-top: 10px;
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .hr-jobs__item__part {
    flex-basis: 50%; } }

.menu-label {
  color: #000000;
  font-size: 18px;
  line-height: 200%; }
  .menu-label:hover {
    text-decoration: none;
    color: red; }

.menu-label--overlay {
  color: white;
  font-size: 20px;
  line-height: 200%; }
  .menu-label--overlay:hover {
    text-decoration: none;
    color: red; }

.article-label1 {
  font-family: Roboto, Arial, sans-serif;
  color: #8f7669;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%; }

.article-label2 {
  font-family: Roboto, Arial, sans-serif;
  color: #8f7669;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%; }

.article-title1 {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%; }
  .article-title1:hover {
    color: #000000; }
  @media (min-width: 1200px) {
    .article-title1 {
      font-size: 26px; } }

.article-title2 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%; }
  .article-title2:hover {
    color: #000000; }
  @media (min-width: 768px) {
    .article-title2 {
      font-size: 24px; } }
  @media (min-width: 1200px) {
    .article-title2 {
      font-size: 26px; } }

.article-title3 {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%; }
  .article-title3:hover {
    color: #000000; }
  @media (min-width: 1200px) {
    .article-title3 {
      font-size: 26px; } }

.article-title4 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%; }
  .article-title4:hover {
    color: #000000; }
  @media (min-width: 1200px) {
    .article-title4 {
      font-size: 22px; } }

.article-title5 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%; }
  .article-title5:hover {
    color: #000000; }
  @media (min-width: 1200px) {
    .article-title5 {
      font-size: 22px; } }

.article-title6 {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%; }
  .article-title6:hover {
    color: #000000; }
  @media (min-width: 768px) {
    .article-title6 {
      font-size: 26px; } }

.article-passage1 {
  font-family: Roboto, Arial, sans-serif;
  color: #888888;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%; }
  .article-passage1:hover {
    color: #888888; }
  @media (min-width: 1200px) {
    .article-passage1 {
      font-size: 18px; } }

.article-passage2 {
  font-family: Roboto, Arial, sans-serif;
  color: #888888;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%; }
  .article-passage2:hover {
    color: #888888; }
  @media (min-width: 768px) {
    .article-passage2 {
      font-size: 16px; } }
  @media (min-width: 1200px) {
    .article-passage2 {
      font-size: 18px; } }

.article-passage3 {
  font-family: Roboto, Arial, sans-serif;
  color: #888888;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%; }
  .article-passage3:hover {
    color: #888888; }
  @media (min-width: 768px) {
    .article-passage3 {
      font-size: 16px; } }

.passage-color2 {
  color: #b2b2b2; }
  .passage-color2:hover {
    color: #b2b2b2; }

.footer-top {
  display: block;
  padding-bottom: 30px;
  border-bottom: solid #dfdfdf 1px; }
  @media (min-width: 1200px) {
    .footer-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }

.footer-top__part1:before, .footer-top__part1:after {
  content: " ";
  display: table; }

.footer-top__part1:after {
  clear: both; }

@media (min-width: 1200px) {
  .footer-top__part1 {
    flex-basis: 60%; } }

.footer-top__part1__img {
  float: left;
  margin-right: 15px; }
  @media (min-width: 768px) {
    .footer-top__part1__img {
      margin-right: 40px; } }
  .footer-top__part1__img img {
    width: 72px; }
    @media (min-width: 768px) {
      .footer-top__part1__img img {
        width: 100%; } }

.footer-top__part1__passage {
  float: left;
  width: 65%;
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .footer-top__part1__passage {
      width: 60%;
      padding-bottom: 30px; } }

.footer-top__part1__btn {
  float: left;
  width: 100%; }
  @media (min-width: 768px) {
    .footer-top__part1__btn {
      width: 60%; } }

.footer-top__part2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-basis: 100%;
  padding-top: 20px; }
  @media (min-width: 768px) {
    .footer-top__part2 {
      flex-direction: column;
      justify-content: flex-start; } }
  @media (min-width: 1200px) {
    .footer-top__part2 {
      flex-basis: 30%;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0; } }

.footer-top__part2__menu {
  flex-basis: 50%;
  text-align: left;
  display: block;
  margin-top: 10px; }
  .footer-top__part2__menu ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0; }
    @media (min-width: 768px) {
      .footer-top__part2__menu ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; }
        .footer-top__part2__menu ul li {
          margin-right: 2em; } }
    @media (min-width: 1200px) {
      .footer-top__part2__menu ul {
        display: block; }
        .footer-top__part2__menu ul li {
          margin: 0; } }
  .footer-top__part2__menu li {
    margin: 0; }
  @media (min-width: 1200px) {
    .footer-top__part2__menu {
      margin: 0;
      text-align: right; } }

.footer-bottom__part1 {
  display: block;
  padding: 20px 0; }
  @media (min-width: 768px) {
    .footer-bottom__part1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }

.footer-bottom__part1__item1 {
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media (max-width: 767px) {
    .footer-bottom__part1__item1 {
      align-items: flex-end; } }
  @media (min-width: 768px) {
    .footer-bottom__part1__item1 {
      flex-basis: 50%; } }

.footer-bottom__part1__item2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0; }
  @media (max-width: 767px) {
    .footer-bottom__part1__item2 {
      padding-top: 20px; } }
  @media (min-width: 768px) {
    .footer-bottom__part1__item2 {
      flex-basis: 50%;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center; } }

.footer-icon {
  color: #b2b2b2;
  font-size: 30px; }
  .footer-icon:hover {
    color: #b2b2b2; }

.over-layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.85;
  background-color: black;
  color: white;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 50px; }
  @media (max-width: 991px) {
    .over-layout {
      padding-top: 30px; } }
  @media (max-width: 767px) {
    .over-layout {
      padding-top: 10px; } }

.over-layout--search {
  display: none; }

.search-input {
  background-color: transparent;
  color: #6d6e71;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  border: 0;
  border-bottom: solid 1px #6d6e71;
  margin-top: 50px; }
  @media (max-width: 991px) {
    .search-input {
      font-size: 26px; } }

.over-layout--menu {
  display: none; }

.over-layout__menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 50px; }
  @media (max-width: 991px) {
    .over-layout__menus {
      display: block; } }

.over-layout__menus__item {
  padding: 30px 0; }
  .over-layout__menus__item p {
    text-align: center; }
  .over-layout__menus__item ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; }

.over-layout-menu-title {
  color: #6d6e71;
  font-size: 26px;
  font-weight: 700;
  line-height: 120%; }
  .over-layout-menu-title:hover {
    color: #6d6e71; }
  @media (min-width: 1200px) {
    .over-layout-menu-title {
      font-size: 30px; } }
